{% extends '::base.html.twig' %}
{% block title %}Formations Administrateur Systèmes et Réseaux - ALT-RH CONSULTING{% endblock %}
{% block body %}
    
 <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>Administrateur systeme et reseaux</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Formation<li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">administration et systeme</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                        
<div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul
                                 class="row">
                                    <li class="col-md-4">
                                        <figure><img src="{{ asset('img/illustration/formation-administrateur-systeme-et-reseaux.jpg') }}" alt=""><i class="fa fa-link"></i></figure>
                                    </li>
                                    <li class="col-md-8">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">ADMINISTRATEUR SYSTÈMES ET RÉSEAUX</a></h5>
                                             
                                            <p>Titre certifié de niveau II (Bac+4) & certification MCSA.</br>

                                          Le programme est modulaire, à la carte. Les modules seront préconisés suite à un entretien individuel.</br></p>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>      
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">PROGRAMME DE LA FORMATION </a></h5>
                                             
                                            <p>Le programme est modulaire, à la carte. Les modules seront préconisés parmi la liste ci-dessous suite à un entretien individuel.</br></p>
                                            <li>MISE EN OEUVRE AVEC MICROSOFT PROJECT 2013</li>
                                            <li>LINUX : RÉSEAUX ET SERVEUR</li>
                                            <li>LINUX : SERVICES WEB</li>
                                            <li>INTERCONNEXION DE MATÉRIELS RÉSEAUX CISCO (ICND-1)</li>
                                            <li>INTERCONNEXION DE MATÉRIELS RÉSEAUX CISCO (ICND-2)</li>
                                            <li>DROIT DE L'INFORMATIQUE : ITIL® V3, LA SYNTHÈSE</li>
                                            <li>GUI - GESTIONNAIRE GRAPHIQUE D'ADMINISTRATION RÉSEAUX : CISCOWORKS</li>
                                            <li>LA SÉCURITÉ DU CLOUD COMPUTING</li>
                                            <li>ADMINISTRATION NAGIOS</li>
                                            <li>VMWARE 5 : INSTALLER, CONFIGURER, ADMINISTRER</li>
                                            <li>WINDOWS 2012 : VIRTUALISATION AVEC HYPER-V</li>
                                            <li>CONFIGURATION DE MICROSOFT WINDOWS 8 : INSTALLER ET CONFIGURER DES CLIENTS WINDOWS 8</li>
                                            <li>INSTALLER ET CONFIGURER WINDOWS SERVER 2012, METTRE EN ŒUVRE LES SERVICES RÉSEAUX, LE PARTAGE DE FICHIERS ET L'IMPRESSION</li>
                                            <li>ADMINISTRER WINDOWS SERVER 2012</li>
                                            <li>CONFIGURER LES SERVICES AVANCÉS DE WINDOWS SERVER 2012 : ADMINISTRER ET SÉCURISER LES SERVICES DE DOMAINE ACTIVE DIRECTORY</li>
                                            <li>CONFIGURATION, GESTION ET RÉSOLUTION DES PROBLÈMES DE MICROSOFT EXCHANGE SERVER 2010</li>
                                            <li>INTRODUCTION À L'ADMINISTRATION WINDOWS</li>
                                            <li>ATELIER PRATIQUE ET PASSAGE DE TEST 70-687</li>
                                           
                                            
                                            
                                        </div>
                                  
                                </ul>
                            </div>
                        </div>      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>                              
{% endblock %}