{% extends '::base.html.twig' %}
{% block title %}Bilan de compétences - ALT-RH CONSULTING{% endblock %}
{% block body %}

        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>Bilan de maintien de l'emploi</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Handicap</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Bilan de maintien de l'emploi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

		<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><a href="event-detail.html">
                                            <img src="{{ asset('img/illustration/bilan-maintien-emploi-handicap.jpg') }}" alt="">
                                            <i class="fa fa-link"></i></a></figure>
                                    </li>
                                    <li class="col-md-8">
                                            <div class="education-event-grid-text">
                                                <h5><a href="event-detail.html">bilan-de-maintien-emploi </a></h5>
                                               
                                                <p>Dans un contexte d’inaptitude ou de restrictions d'aptitude importantes, le bilan maintien dans l'emploi vise à mobiliser différentes actions et expertises afin de faciliter la recherche et la mise en oeuvre de solutions en vue de préserver l'emploi : bilan professionnel, bilan médical-fonctionnel, étude ergonomique du poste de travail, appui spécifique à une déficience particulière, etc...

Vous souhaitez être accompagné(e) dans le repositionnement professionnel interne ou externe d'un de vos salariés, en prenant en compte son expérience, ses aspirations et sa personnalité pour mieux l'engager dans la voie d'un changement nécessaire et pas toujours évident à appréhender.</p>
                                            </div>
                                        </li>
                                              
                                        
                                    
                                 
                                     </ul>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>

 <div class="education-main-section education-modren-coursefull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12"> 
                                <h2></h2>
                            </div>
                            <div class="education-course education-modren-course">
                                <ul class="row">
                               
                                    <li class="col-md-6">
                                     <div class="education-event-grid-text">
                                        <h2>OBJECTIF</h2>
                                        <li>Contribuer au maintien dans l'emploi de la personne (éviter les temps d'inactivité qui pourraient être pénalisants).</li>
                                        <li>Envisager de nouvelles possibilités d'emploi.</li>
                                        <li>Vérifier les hypothèses de reclassement émises et souhaitées.</li>
                                        <li>Evaluer les compétences et potentialités au regard de ces nouvelles perspectives.</li>
                                        <li>Identifier les étapes et les démarches à mettre en oeuvre.</li>
                                    </div>
                                    </li>
                             

                                    <li class="col-md-6">
                                    <div class="education-event-grid-text">
                                    <h2>DURÉE</h2>
                                        <p>La durée du bilan est de 20 à 24 heures en face à face.

Durant les trois phases du bilan de compétences, les actions sont menées de façon individuelle.

Le bilan se déroule dans nos locaux.

Plus de la moitié du temps est en face à face avec son consultant l'autre partie du temps permet de réaliser des tests de personnalité, d'exploiter des fiches métiers ou encore de consulter de la documentation avec l'appui d'un consultant.</p>
                                        </div>
                                    </li>
                                    
                                </ul>
                             </div>
                        </div>
                     </div>
                </div>
</div>
 <div class="education-main-section education-modren-coursefull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                             <h2>DÉROULEMENT</h2>
                            <div class="education-course education-modren-course">
                                <ul class="row">  
                                <li class="col-md-6">
                                <div class="education-event-grid-text">
                                <h2>1) UNE PHASE PRÉLIMINAIRE QUI A POUR OBJET DE ::</h2>
                                        <li>Confirmer l'engagement du bénéficiaire dans sa démarche.</li>
                                        <li>Définir et analyser la nature de ses besoins.</li> 
                                        <li>L'informer des conditions de déroulement du bilan de compétences, ainsi que des méthodes et techniques mises en oeuvre.</li>
                                </div>
                                    </li>
                                    <li class="col-md-6">
                                    <div class="education-event-grid-text">
                                    <h2>2) UNE PHASE D'INVESTIGATION PERMETTANT AU BÉNÉFICIAIRE :: </h2>
                                       <li>D'analyser ses motivations et intérêts professionnels et personnels.</li>
                                        <li>D'identifier ses compétences et aptitudes professionnelles et personnelles et, le cas échéant, d'évaluer ses connaissances générales.</li> 
                                        <li>De déterminer ses possibilités d'évolution professionnelle.</li>
                                </div>
                                    </li>  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
</div>

 <div class="education-main-section education-modren-coursefull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            
                            <div class="education-course education-modren-course">
                                <ul class="row">  
                                <li class="col-md-6">
                                <div class="education-event-grid-text">
                                <h2>3) UNE PHASE DE CONCLUSION QUI PERMET AU BÉNÉFICIAIRE DE:</h2>
                                        <li>Prendre connaissance des résultats détaillés de la phase d'investigation.</li>
                                        <li>Recenser les facteurs susceptibles de favoriser ou non la réalisation d'un projet professionnel et, le cas échéant, d'un projet de formation.</li> 
                                        <li>Prévoir les principales étapes de la mise en oeuvre de ce projet. Cette phase de conclusion se termine par la présentation au bénéficiaire du document de synthèse.</li>    
                                </div>
                                    </li>
                                    <li class="col-md-6">
                                    <div class="education-event-grid-text">
                                    <h5>4) UNE PHASE DE SUIVI : </h5>
                                       <li>Un entretien de suivi, avec le bénéficiaire, sera mené trois mois après la restitution afin de faire le point quant aux suites données aux propositions faites en fin de bilan et de vérifier la validité du projet.</li>
                                        
                                </div>
                                    </li>  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
</div>
                 
       {% endblock %}