{% extends '::base.html.twig' %}
{% block title %}Bilan de compétences - ALT-RH CONSULTING{% endblock %}
{% block body %}

        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>BILAN DE COMPÉTENCES</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
							<li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Gestion de carrière</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Bilan de compétences</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

		<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
					<div class="row">
						
						<div class="col-md-12">
                            <div  style="margin-left:200px;" class="education-shopwrap">
                                <figure><a href="shop-detail.html"><img src="img/illustration/bilan-de-competences.jpg" alt=""></a></figure>
                                <div class="education-shop-detail-text">
                                    <h4><a href="shop-detail.html">BILAN DE COMPÉTENCES </a></h4>
                                    <p>Le bilan de compétences permet au salarié de faire un point sur ses compétences, aptitudes et motivations, et de définir un projet professionnel ou de formation.<br>

										Le bilan consiste à faire un point sur l’ensemble du cursus professionnel, les principaux traits de personnalité afin d’établir un portefeuille de compétences et de donner un nouveau cap à son avenir professionnel.<br>

										La démarche est fondée sur un travail de réflexion personnelle rythmé par des entretiens approfondis et des évaluations pertinentes avec un consultant qui par son expertise porte un regard extérieur sur les éléments du parcours et propose des axes de réflexion. Il s’assure également de la viabilité des projets et informe sur les différents dispositifs existants.<br>
									</p>
									<h4><a href="shop-detail.html" >RÉALISÉ PENDANT OU EN DEHORS DU TEMPS DE TRAVAIL, IL PERMET AU BÉNÉFICIAIRE : </a></h4>
                                    <p>	<b>></b> De découvrir ses atouts et son potentiel et d'organiser les priorités professionnelles.<br>
										<b>></b> De se positionner dans son environnement professionnel et sur le marché de l'emploi.<br>
										<b>></b> D'élaborer un projet professionnel ou de formation et d'en déterminer la faisabilité.<br>
										<b>></b> De préparer une reconversion ou une Validation des Acquis Professionnels.<br>
										<b>></b> De donner un nouvel élan à son parcours professionnel.<br>
										<b>></b> De gérer l'évolution de sa carrière.<br>
									</p>
                                </div>
								<div class="education-section-heading"><h2>PUBLIC CONCERNÉ</h2></div>
								<div class="row">
									<div class="col-md-5">
										<h5>EMPLOYÉS ET CADRES, TOUS SECTEURS D'ACTIVITÉ</h5>
										<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Tout salarié a un droit au congé de bilan de compétences. (Art.L931-21 du code du travail).</li>
												<li><i class="fa fa-check-square-o"></i>Dans le cadre du droit individuel à la formation (DIF) sur demande du salarié.</li>
												<li><i class="fa fa-check-square-o"></i>Dans le cadre du congés individuel de formation ( CIF ) sur demande du salarié ou de l'entreprise.</li>		
												<li role="separator" class="divider"></li>											
										</ul>
										<div class="education-section-heading"><h2>DURÉE </h2></div>
											<p style="Font-Weight: Bold;">Le bilan de compétences s'effectue en 24 heures dans une amplitude de 8 à 12 semaines modulables, à raison d’une séance par semaine. Il se répartit sur 16 heures d'entretiens en face-à-face: 8 heures consacrées à la passation des tests et de 4 heures de travail personnel de recherche.</p>
									</div>
									<div class="col-md-6">
										<div class="education-event-organizer">
											<div class="education-section-heading"><h2>NOS OUTILS ET MÉTHODES</h2></div>
											<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Des entretiens et suivi par un consultant interlocuteur unique.</li>
												<li><i class="fa fa-check-square-o"></i>Des questionnaires d'auto-évaluation personnels et professionnels.</li>
												<li><i class="fa fa-check-square-o"></i>Des tests de motivations, de personnalité, intérêts et valeurs professionnelles, administrés psychologues expert RH.</li>
												<li><i class="fa fa-check-square-o"></i>Une analyse des postes occupés et du portefeuille de compétences.</li>
												<li><i class="fa fa-check-square-o"></i>Biographie personnelle et courbe de vie.</li>
												<li><i class="fa fa-check-square-o"></i>Analyse d'annonces de recrutement et réseaux sociaux (linkedin, viadeo, tweeter, etc...).</li>
												<li><i class="fa fa-check-square-o"></i>Sélection ciblée des catalogues de formations.</li>
												<li><i class="fa fa-check-square-o"></i>Rencontres et mise en situation professionnelle.</li>
												<li><i class="fa fa-check-square-o"></i>Coaching de présentation de projet professionnel et /ou de formation.</li>
												<li><i class="fa fa-check-square-o"></i>Un document de synthèse confidentiel retraçant toute l’action et les préconisations futures.</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="education-section-heading"><h2>DÉROULEMENT DU BILAN DE COMPÉTENCES :</h2></div>
								<div class="row">
									<div class="col-md-5">
										<h5>PHASE PRÉLIMINAIRE :</h5>
										<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Confirmer l'engagement du bénéficiaire dans sa démarche.</li>
												<li><i class="fa fa-check-square-o"></i>Définir et analyser la nature de ses besoins.</li>
												<li><i class="fa fa-check-square-o"></i>Informer le bénéficiaire des conditions de déroulement du bilan de compétences.</li>
												<li><i class="fa fa-check-square-o"></i>Exposer les méthodes, techniques et outils d'évaluation mises en œuvre.</li>											
										</ul>
									</div>
									<div class="col-md-5">
										<h5>PHASE D'INVESTIGATION :</h5>
										<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Analyser les motivations et intérêts professionnels et personnels du bénéficiaire.</li>
												<li><i class="fa fa-check-square-o"></i>Identifier les compétences et aptitudes professionnelles et personnelles.</li>
												<li><i class="fa fa-check-square-o"></i>Evaluer le cas échéant, les connaissances générales .</li>
												<li><i class="fa fa-check-square-o"></i>déterminer les possibilités d'évolution professionnelle.</li>											
										</ul>
									</div>
									<div class="col-md-5">
										<h5>PHASE DE CONCLUSION :</h5>
										<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Prendre connaissance des résultats détaillés de la phase d’investigation.</li>
												<li><i class="fa fa-check-square-o"></i>Recenser les facteurs susceptibles de favoriser ou non la réalisation d’un projet professionnel et/ou de formation.</li>
												<li><i class="fa fa-check-square-o"></i>Prévoir les principales étapes de la mise en œuvre de ce projet ou plan d’action.</li>
												<li><i class="fa fa-check-square-o"></i>Cette phase se termine par la présentation au bénéficiaire d’un dossier de synthèse confidentiel présentant les conclusions du bilan.</li>											
										</ul>
									</div>
									<div class="col-md-5">
										<h5>SUIVI POST BILAN :</h5>
										<ul class="education-list-style-two">
												<li><i class="fa fa-check-square-o"></i>Un entretien de suivi a lieu à 3 mois et à 6 mois après la réalisation du bilan.</li>
												<li><img src="img/bilan-competences-icons.png" /></li>										
										</ul>
									</div>
								</div>
								<br>
									<div class="row">
										<div class="col-md-5">
										<div class="education-section-heading"><h2>FINANCEMENT</h2></div><br>
											<h5>FONGECIF ET OPCA DE BRANCHE</h5>
											<p>La prise en charge financière est possible soit par l'entreprise (DIF ou plan de formation) soit par un OPACIF (Fongecif, Afdas, Unifaf, Uniformation, etc...).<br><br>

												Dans ce dernier cas, la démarche peut être confidentielle vis-à-vis de l'employeur. Le bilan de compétences se déroule alors hors temps de travail.<br>
											</p>
										</div>
										
											
										<div class="col-md-5">
											<div class="education-section-heading"><h2>DISPOSITIFS ET FINANCEMENTS</h2></div>
													<h5>PRISE EN CHARGE POSSIBLE PAR L'ENTREPRISE OU UN OPACIF</h5>
													<ul class="education-list-style-two">
															<li><i class="fa fa-paperclip"></i><a href="http://www.fongecif-idf.fr" target="_blank">FONGECIF</a></li>
															<li><i class="fa fa-paperclip"></i><a href="http://www.unagecif.com" target="_blank">UNAGECIF</a></li>
															<li><i class="fa fa-paperclip"></i><a href="http://www.anfh.fr" target="_blank">ANFH</a></li>
															<li><i class="fa fa-paperclip"></i><a href="http://www.uniformation.fr" target="_blank">UNIFORMATION</a></li>											
															<li><i class="fa fa-paperclip"></i><a href="" target="_blank">FATSECURITE SOCIALE</a></li>											
															<li><i class="fa fa-paperclip"></i><a href="www.unifaf.fr" target="_blank">UNIFAF</a></li>											
															<li><i class="fa fa-paperclip"></i><a href="http://www.habitat-formation.fr" target="_blank">HABITAT FORMATION</a></li>											
															<li><i class="fa fa-paperclip"></i><a href="" target="_blank">FAT IT</a></li>											
													</ul>
										</div>
									</div>
								
									<div class="education-main-section"><h3>NOS SERVICES DE GESTION DE CARRIÈRE PROFESSIONNELLE</h3>
												<div class="row">
													
													<div class="col-md-12">
														<div class="education-course education-course-grid">
															<ul class="row">
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="img/illustration/carousel_vae.jpg" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">VALIDATION DES AQUIS (VAE) </a></h5>
																		<p>La VAE est un dispositif qui permet l'obtention de tout ou partie d'une certification non salariée, bénévole, volontaire.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="img/illustration/carousel_bilan-mi-carriere.jpg" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">BILAN MI-CARRIÈRE </a></h5>
																		<p>Le bilan mi-carrière permet de faire le point sur son parcours professionnel et de réfléchir sur ses perspectives d'évolutions.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="img/illustration/carousel_maintien-emploi.jpg" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">MAINTIEN DE L'EMPLOI </a></h5>
																		<p>Le bilan maintien dans l'emploi vise à mobiliser différentes actions pour la mise en oeuvre de solutions en vue de préserver l'emploi.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="img/illustration/carousel_coaching.jpg" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">COACHING </a></h5>
																		<p>L'accompagnement coaching permet de développer le potentiel personnel et les performances dans les domaines du management, etc...</p>
																	</div>
																</li>
															</ul>
														</div>
													</div>

												</div>
									</div>
									
                            </div> 
 
 {% endblock %}