{% extends '::base.html.twig' %}
{% block title %}Bilan Mi-Carrière - ALT-RH CONSULTING{% endblock %}
{% block body %}
        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>COACHING</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
							<li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Gestion de carrière</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Coaching</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

		<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
					<div class="row">
						
						<div class="col-md-12">
                            <div  style="margin-left:200px;" class="education-shopwrap">
                                <figure><a href="shop-detail.html"><img src="{{asset('img/illustration/coaching.jpg')}}" alt=""></a></figure>
                                <div class="education-shop-detail-text">
                                    <h4><a href="shop-detail.html">COACHING </a></h4>
                                    <p>L'accompagnement coaching permet de développer le potentiel personnel et les performances dans les domaines du management, de la communication, de la gestion du temps et de la gestion du stress et à s’adapter à toute situation de changement : réorganisation, mobilité interne, prise de nouvelles responsabilités ou d'un nouveau poste.<br>
										Véritable démarche professionnelle, le coaching vise à développer l'efficacité de la personne coachée mais aussi celle de son équipe en cohérence avec la stratégie de l'entreprise. Le coaching se déroule dans un cadre délimité et répond à des objectifs définis au démarrage de la mission.
									</p>
                                </div>
								<div class="col-md-10"><br><br><br>
									
									<div class="col-md-5">
									<div class="education-section-heading"><h2>LE COACHING INDIVIDUEL</h2></div>
										<p>L'appréhension de son mode de fonctionnement, de ses ressources et de ses freins, sa communication avec l'entreprise ou son équipe, permet au coaché de :
										</p>
											<ul class="education-list-style-two">
													<li><i class="fa fa-check-square-o"></i>Développer sa dimension stratégique.</li>
													<li><i class="fa fa-check-square-o"></i>Relever des défis professionnels.</li>
													<li><i class="fa fa-check-square-o"></i>Prendre de nouvelles responsabilités.</li>	
													<li><i class="fa fa-check-square-o"></i>Améliorer sa relation à l'autre.</li>
													<li><i class="fa fa-check-square-o"></i>Développer son potentiel de manager.</li>	
													<li><i class="fa fa-check-square-o"></i>De mieux se connaître.</li>	
											</ul>
									</div>
									<div class="col-md-5">
											<div class="education-section-heading"><h2>LE COACHING D’ÉQUIPE</h2></div>
											<p>
												Le coaching d'équipe s'adapte à une grande diversité de situations. Il peut se dérouler lors d'un séminaire ou se déployer dans un programme de plusieurs séances étalées sur plusieurs mois.
											</p>
											<ul class="education-list-style-two">
													<li><i class="fa fa-check-square-o"></i>Centré sur l'identité de l'équipe.</li>
													<li><i class="fa fa-check-square-o"></i>Centré sur les relations au sein de l'équipe.</li>
													<li><i class="fa fa-check-square-o"></i>Centré sur l'organisation de l'équipe.</li>	
													<li><i class="fa fa-check-square-o"></i>Centré sur le sens et la vision partagée.</li>
																
											</ul>
									</div>
									
									
								</div>
								<div class="education-main-section"><br><br><h3>NOS SERVICES DE GESTION DE CARRIÈRE PROFESSIONNELLE</h3>
												<div class="row">
													
													<div class="col-md-12">
														<div class="education-course education-course-grid">
															<ul class="row">
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="{{asset('img/illustration/carousel_bilan-competences.jpg)'}}" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">BILAN DE COMPÉTENCES </a></h5>
																		<p>Le bilan de compétences permet au salarié de faire un point sur ses compétences, aptitudes, motivations et de définir un projet professionnel.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="img/illustration/carousel_vae.jpg" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">VALIDATION DES AQUIS (VAE) </a></h5>
																		<p>La VAE est un dispositif qui permet l'obtention de tout ou partie d'une certification non salariée, bénévole, volontaire.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="img/illustration/carousel_bilan-mi-carriere.jpg" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">BILAN MI-CARRIÈRE </a></h5>
																		<p>Le bilan mi-carrière permet de faire le point sur son parcours professionnel et de réfléchir sur ses perspectives d'évolutions.</p>
																	</div>
																</li>
																<li class="col-md-2">
																	<figure><a href="course-detail.html"><img src="img/illustration/carousel_maintien-emploi.jpg" alt=""><i class="fa fa-link"></i></a>
																	</figure>
																	<div class="education-course-grid-text">
																		<h5><a href="course-detail.html">MAINTIEN DE L'EMPLOI </a></h5>
																		<p>Le bilan maintien dans l'emploi vise à mobiliser différentes actions pour la mise en oeuvre de solutions en vue de préserver l'emploi.</p>
																	</div>
																</li>
															</ul>
														</div>
													</div>

												</div>
									</div>
                            </div> 
{% endblock %}