{% extends '::base.html.twig' %}
{% block title %}Formations Concepteur Développeur Informatique - ALT-RH CONSULTING{% endblock %}
{% block body %}

 <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>Concepteur developpeur informatique</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Formation</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Concepteur developpeur informatique</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                        
<div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><img src="extra-images/formation-concepteur-developpeur-informatique.jpg" alt=""><i class="fa fa-link"></i></figure>
                                    </li>
                                    <li class="col-md-8">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">CONCEPTEUR DEVELOPPEUR INFORMATIQUE</a></h5>
                                             
                                            <p>Titre professionnel certifié de niveau II (BAC + 4).</br>

                                          Le programme est modulaire, à la carte. Les modules seront préconisés suite à un entretien individuel..</br></p>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>      
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">PROGRAMME DE LA FORMATION </a></h5>
                                             
                                            <p>Le programme est modulaire, à la carte. Les modules seront préconisés parmi la liste ci-dessous suite à un entretien individuel.</br></p>
                                            <li>DÉVELOPPEMENT D'UNE APPLICATION AVEC C# - INITIATION</li>
                                            <li>ACCÈS AUX DONNÉES (ADO.NET) ET DÉVELOPPEMENT D'UNE APPLICATION AVEC C#</li>
                                            <li>DÉVELOPPEMENT D'APPLICATIONS MOBILES WINDOWS PHONE 8</li>
                                            <li>LE LANGAGE SQL</li>
                                            <li>DÉVELOPPER AVEC PL/SQL SOUS ORACLE</li>
                                            <li>TRIGGERS ET PROCÉDURES STOCKÉES AVEC ORACLE - PL/SQL</li>
                                            <li>ADMINISTRATION D'UNE BASE DE DONNÉES MS SQL SERVER 2012 ET PROGRAMMATION SQL</li>
                                            <li>DÉVELOPPER DES WEB SERVICES SOAP ET REST EN .NET</li>
                                            <li>ASP.NET: CONNEXION BASES DE DONNÉES</li>
                                            <li>DÉVELOPPEMENT WEB AVEC JAVA EE 6</li>
                                            <li>DÉVELOPPEMENT D'APPLICATIONS WEB JEE AVEC STRUTS</li>
                                            <li>DÉVELOPPEMENT ANDROID AVEC JAVA</li>
                                            <li>DÉVELOPPER DES WEB SERVICES SOAP ET REST AVEC JAVA</li>
                                            <li>CULTURE DU WEB</li>
                                            <li>CONDUITE ET MANAGEMENT DE PROJET MULTIMÉDIA</li>
                                            <li>MODÉLISER AVEC LES DESIGN PATTERNS</li>
                                            <li>MODÉLISATION DES DONNÉES AVEC LA MÉTHODE MERISE</li>
                                            <li>FORMALISATION ET MODÉLISATION AVEC LA MÉTHODE RATIONAL UNIFY PROCESS (RUP) ET UML</li>
                                            <li>CONCEVOIR UNE ARCHITECTURE APPLICATIVE : LES BONNES PRATIQUES</li>
                                            <li>ANALYSE DES BESOINS D'UN CAHIER DES CHARGES</li>
                                            <li>RÉDIGER UN CAHIER DES CHARGES</li>
                                            <li>ANGLAIS DU WEB</li>
                                            <li>METTRE EN OEUVRE UNE DÉMARCHE QUALITÉ</li>
                                            <li>MISE EN OEUVRE AVEC MICROSOFT PROJECT 2013</li>
                                            <li>PHP ZEND FRAMEWORK</li>
                                            <li>AJAX</li>
                                            <li>SÉCURITÉ ET GESTION DES DONNÉES</li>
                                            <li>ATELIER : PROJET DE DÉVELOPPEMENT D'UN SITE WEB PROFESSIONNEL</li>
                                            
                                            
                                        </div>
                                  
                                </ul>
                            </div>
                        </div>      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>





 {% endblock %}