{% extends '::base.html.twig' %}
{% block title %}Formations Administrateur Systèmes et Réseaux - ALT-RH CONSULTING{% endblock %}
{% block body %}
    
 <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>CONTACT</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Contact<li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-graduation-cap"></i>
                                
                                <h2>NOS CONTACTS</h2>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="education-contact-us">
                                <ul>
                                    <li>
                                        <h6>TELEPHONE</h6>
                                        <span>00 331 49 97 15 11</span>
                                        <i class="fa fa-phone"></i>
                                    </li>
                                     <li>
                                        <h6>Email</h6>
                                        <a href="mailto:name@email.com">contact@alt-rh.com</a>
                                        <i class="fa fa-envelope"></i>
                                    </li>
                                     <li>
                                        <h6>Location</h6>
                                        <span>ALT RH Consulting</br>
Tour Ernest & Young - 9-11 Allée de l'arche </br>
92671 Paris La Défense</br></span>
                                        <i class="fa fa-map-marker"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="education-contact-us-map"><div id="map"></div></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
       </li>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
     

        {% endblock %}