{% extends '::base.html.twig' %}
{% block title %}creation activite handicap{% endblock %}
{% block body %}

        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>CREATION ACTIVITE HANDICAP</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Handicap</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Création activité d'handicaps</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

		<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
				<div class="container">
					<div class="row">
						
						<div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><a href="event-detail.html"><img src="{{asset('img/illustrationcreation-activite-handicap.jpg')}}" alt=""><i class="fa fa-link"></i></a></figure>
                                    </li>
                                    <li class="col-md-8">
                                            <div class="education-event-grid-text">
                                                <h5><a href="event-detail.html"> creation-activite-handicap</a></h5>
                                               
                                                <p> Vous êtes en situation du handicap, votre décision est prise pour vous lancer dans la création d'entreprise.<br>

Etre handicapé et son propre patron, c’est parfaitement possible. La création ou la reprise d'activité constituent une des formes d'insertion professionnelle adaptée aux besoins des personnes handicapées, répondant au souhait d’autonomie de nombre d'entre elles.<br>

Vous avez besoin d'appuis, de conseils, de financements pour mener à bien votre nouvelle vie professionnelle.<br>

ALT-RH CONSULTING est partenaire de l'Agefiph qui soutien et favorise sur le plan national les initiatives des personnes handicapées qui créent leur propre emploi.</p>
                                             </div>
                                        </li>
                                              
                                        
                                    
                                 
                                     </ul>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     <div class="education-main-section education-modren-coursefull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12"> 
                            <h5>CONTENU DE LA PRESTATION</h5>
                            </div>
                            <div class="education-course education-modren-course">
                               
                               
                                    <li class="col-md-4">
                                     <div class="education-event-grid-text">
                                        <P>PRESCRIPTION :</P>
                                        <p>Préalablement à tout accompagnement, une prescription doit avoir été réalisée par une des 3 structures suivantes :</p>
                                        <li>Cap emploi.</li>
                                        <li>Pôle emploi.</li>
                                        <li>Mission locale.</li>
                                        </div>
                                    </li>
                             

                                    <li class="col-md-4">
                                    <div class="education-event-grid-text">
                                    <h5>CONDITIONS D'ÉLIGIBILITÉ :</h5>
                                        <P>L'offre de services « Création d’activité » de l’Agefiph concerne les personnes handicapées, bénéficiaires de l'article L 5212.13 du Code du travail, à savoir :</p>
                                        <li>Les personnes reconnues « Travailleur Handicapé » par la CDAPH (RQTH).</li>
                                        <li>Les victimes d'accidents du travail ou de maladies professionnelles ayant une incapacité permanente partielle au moins égale à 10%.</li>
                                        <li>Les titulaires d’une pension d’invalidité (dont la capacité de travail est réduite de 2/3 minimum du fait d’accidents ou de maladies non-professionnels).</li>
                                        <li>Certains pensionnés de guerre et assimilés (veuves...).</li>
                                        <li>Les titulaires de la carte d'invalidité.</li>
                                        <li>Les titulaires de l'Allocation aux Adultes Handicapés (AAH).</li>
                                        <li>Avoir un projet de création ou de reprise d'entreprise.</li>
                                        <li>Etre demandeurs d'emploi inscrits à Pôle Emploi et ne pas être démissionnaires.</li>
                                        <li>Ne pas occuper un emploi (l'aide n’est plus disponible pour les salariés à temps partiel).</li>

                                        <p>Dans le cas d'une exploitation en société, le créateur doit :</p>
                                        <li>Etre le futur dirigeant de la société, quel que soit le statut (la création ne doit pas avoir eu lieu avant le dépôt du dossier de demande de subvention).</li>
                                        <li>Détenir au moins 50 % du capital, seul ou en famille (époux ou pacsé, ascendants et descendants de l’intéressé), avec plus de 30% à titre personnel.</li>
                                        </div>
                                    </li>
                                     <li class="col-md-4">
                                    <div class="education-event-grid-text">
                                    <h5> PIÈCES À FOURNIR :</h5>
                                        <p>Préalablement à tout accompagnement, une prescription doit avoir été réalisée par une des 3 structures suivantes :</p>
                                        <li>Justificatif du statut de T.H ou bénéficiaire de la loi 2005.</li>
                                        <li>Justificatif d'identité.</li> 
                                        <li>Curriculum vitae du dirigeant et des associés.</li>
                                        <li>Historique Pôle emploi récent (moins de 3 mois).</li>
                                        <li>Attestation de paiement des allocations (AAH, RSA, ARE, ASS).</li>
                                        <li>Justificatif ou attestation bancaire d'apport en numéraire de 1500 Euros sur compte bloqué.</li>
                                        <li>Relevé d'identité bancaire original.</li>
                                        <li>Certificats de travail, stage ou formation en lien avec le projet de création (si possible).</li>
                                        <li>Diplôme donnant droit à exercer pour les activités réglementées (si possible).</li>
                                        <li>Bilan des actions de validation de votre projet de création d’entreprise (si possible).</li>
                                        <li>Pour une reprise : la liasse fiscale + annexes détaillées des 3 dernières années + arrêté comptable provisoire de l'année en cours + promesse de vente du fonds de commerce.</li>
                                        <li>Etude de marché.</li>
                                        <li>Lettres d'intention, promesses de mission, contrats d’engagement de sous-traitance ou tout autre justificatif de l'état d’avancement de la réalité de votre démarche commerciale.</li>
                                        <li>Devis des investissements à réaliser.</li>
                                        <li>Permis de conduire + carte grise du véhicule si nécessaire à l'activité.</li>
                                        <li>Pour les professions réglementées, justificatifs autorisant l’exercice de l’activité.</li>



                                </div>
                                    
                                </ul>
                             </div>
                        </div>
                     </div>
                </div>
</div>


 <div class="education-main-section education-modren-coursefull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <h2>>DÉROULEMENT DE LA PRESTATION</h2>
                            
                            <div class="education-course education-modren-course">
                                <ul class="row">  
                                <li class="col-md-3">
                                <div class="education-event-grid-text">
                                <h5>3LA PRESTATION ACCOMPAGNEMENT :</h5>
                                        <p>L'objectif de la prestation est d'accompagner le porteur de projet à créer son activité.<br>

Elle débute après vérification de l’éligibilité du porteur de projet.<br>

La prestation Accompagnement est individuelle et individualisée (adaptation de la durée de l'accompagnement en fonction de la personne et de son projet).</p>
                                </div>
                                    </li>
                                    <li class="col-md-3">
                                    <div class="education-event-grid-text">
                                    <h5>MICRO-ASSURANCE DITE TROUSSE DE PREMIÈRE ASSURANCE (TPA) : </h5>
                                    <p>L’Agefiph finance, pour 2 ans, une Micro-assurance aux créateurs le souhaitant.</p>
                                       <li>Multirisque professionnelle (RC exploitation, vol, dégâts des eaux, incendie, bris de vitres et pertes d'exploitation).</li>
                                       <li>Prévoyance (accident, maladie).</li>
                                       <li>Couverture santé (frais médicaux, dentaires, hospitalisation).</li>
                                       <br>
                                       <p>Les conditions d'obtention sont :</p>
                                       <li>Avoir été accompagné par un prestataire conventionné par l'Agefiph.</li>
                                       <li>Avoir obtenu l'aide financière de l'Agefiph.</li>
                                        
                                </div>
                                    </li> 
                                <li class="col-md-3">
                                <div class="education-event-grid-text">
                                <h5> Déroulement de la prestation :</h5>
                                        <p>Cette prestation n'est pas obligatoire mais doit être systématiquement proposée et expliquée (modalités à indiquer dans la fiche de synthèse).<br>

Le suivi a pour objectif de pérenniser l'activité du créateur.<br>

Il démarre après la création/reprise effective de l'activité du porteur de projet (immatriculation).<br>

Le suivi est adapté aux besoins du créateur selon la demande et la disponibilité du chef d’entreprise, cela peut concerner :</p>
                                    <li>L'appui au démarrage.</li>
                                    <li>L'appui personnalisé périodique.</li>
                                    <li>L'intervention ponctuelle (parfois en urgence).
                                    </li>

                                     <li class="col-md-3">
                                    <div class="education-event-grid-text">
                                    <h4>RESSOURCES DOCUMENTAIRES ET LIENS UTILES : </h4>
                                    <p>Pour construire ou valider votre projet de création d'entreprise et augmenter vos chances de succès, l’information est capitale, agissez avec méthode en respectant des étapes chronologiques.<br>

                                        Découvrez des liens utiles et téléchargez les conférences et vidéos de nos partenaires institutionnels.</p>
                                       <li><a href="http://www.creersaboite.fr/pid5116/annuaire-liens.html" title="Liens utiles des entrepreneurs" target="_blank">Liens utiles des entrepreneurs.</a></li>
                                       <li><a href="http://www.salondesentrepreneurs.com/v2/liste_conferences.php" title="Conférences audio" target="_blank">Conférences audio.</a></li>
                                       <li><a href="http://www.salondesentrepreneurs.com/v2/liste_videos.php?code_salon=42" title="Vidéos" target="_blank">Vidéos.</a></li>   
                                </div>
                                    </li>  

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
</div>

 

{% endblock %}

     