{% extends '::base.html.twig' %}
{% block title %}Formations Administrateur Developpement personnel- ALT-RH CONSULTING{% endblock %}
{% block body %}
     <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>DEVELOPPEMENT PERSONNEL</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Formation</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Dévélloppement personnel</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><img src="extra-images/formation-developpement-personnel.jpg" alt=""><i class="fa fa-link"></i></figure>
                                    </li>
                                    <li class="col-md-8">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">DÉVELOPPEMENT PERSONNEL</a></h5>
                                             
                                            <p>Découvrez nos programmes de formations en efficacité professionnelle et en développement personnel.</br></p>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>      
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">PROGRAMME DE LA FORMATION </a></h5>
                                             
                                            <p>Le programme est modulaire, à la carte. Les modules seront préconisés parmi la liste ci-dessous suite à un entretien individuel.</br></p>
                                            <li>DÉVELOPPEMENT PERSONNEL</li>
                                            
                                        </div>
                                  
                                </ul>
                            </div>
                        </div>      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


 <div class="education-main-section education-partner-full">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-graduation-cap"></i>
                                <h2>Nos PARTENAIRES</h2>
                            </div>
                            <div class="education-partner">
                                <ul>
                                    <li ><a href="404.html"><img src="partenaires/partenaire-oseo.jpg"  alt=""></a></li>
                                    <li ><a href="404.html"><img src="partenaires/partenaire-afdas.jpg"   alt=""></a></li>
                                     <li ><a href="404.html"><img src="partenaires/partenaire-agefiph.jpg"  alt=""></a></li>
                                    <li ><a href="404.html"><img src="partenaires/partenaire-apec.jpg"   alt=""></a></li>
                                    <li><a href="404.html"><img src="partenaires/partenaire-banque-credit-agricole.jpg"  alt=""></a></li>
                                     <li><a href="404.html"><img src="partenaires/partenaire-banque-lcl.jpg"  alt=""></a></li>
                                    <li ><a href="404.html"><img src="partenaires/partenaire-enrope-sengage-en-france.jpg"   alt=""></a></li>
                                     <li><a href="404.html"><img src="partenaires/partenaire-centre-inffo.jpg" alt=""></a></li>
                                      <li ><a href="404.html"><img src="partenaires/partenaire-fafsea.jpg"  alt=""></a></li>
                                       <li><a href="404.html"><img src="partenaires/partenaire-ffp.jpg"  alt=""></a></li>
                                        <li ><a href="404.html"><img src="partenaires/partenaire-fongecif.jpg"  alt=""></a></li>
                                         <li ><a href="404.html"><img src="partenaires/partenaire-france-initiative.jpg"  alt=""></a></li>
                                          <li ><a href="404.html"><img src="partenaires/partenaire-opcalia.jpg"  alt=""></a></li>
                                           <li ><a href="404.html"><img src="partenaires/partenaire-pole-emploi.jpg"   alt=""></a></li>
                                            <li ><a href="404.html"><img src="partenaires/partenaire-unifaf.jpg"  alt=""></a></li>
                                             <li ><a href="404.html"><img src="partenaires/partenaire-uniformation.jpg"   alt=""></a></li>
                                              <li ><a href="404.html"><img src="partenaires/partenaire-val-d-oise-departement.jpg"  alt=""></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Section \\-->

            <!--// Main Section \\-->
         
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="education-subscribe-newsletter">
                                <img src="extra-images/news-latter-img.jpg" alt="">
                                <div class="education-newslatter-text">
                                    <h2>Subscribe To Our Newsletter</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat ipsum maximus malesuada. Donec non ex faucibus, fringilla tellus eget, maximus arcu. Duis et eros nisl.</p>
                                    <form>
                                        <input type="text" value="Type Here" onblur="if(this.value == '') { this.value ='Type Here'; }" onfocus="if(this.value =='Type Here') { this.value = ''; }">
                                        <label><input type="submit" value="Subscribe Now"></label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!--// Main Section \\-->

        </div>
        <!--// Main Content \\-->

  
{% endblock %}
