{% extends '::base.html.twig' %}
{% block title %}Formations Administrateur Systèmes et Réseaux - ALT-RH CONSULTING{% endblock %}
{% block body %}      <!--// Header \\-->

        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>DIAGNOSTIC CONSEIL HANDICAP</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Handicap</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Diagnostic conseil handicap</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

		<!--// Main Content \\-->
		<div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><a href="event-detail.html"><img src="{{asset('img/illustration/dignostic-conseils-handicap.jpg')}}" alt=""><i class="fa fa-link"></i></a></figure>
                                    </li>
                                    <li class="col-md-8">
                                            <div class="education-event-grid-text">
                                                <h5><a href="event-detail.html"> diagnostic-conseils-handicap</a></h5>
                                               
                                                <p>Le diagnostic conseil handicap permet à l'entreprise de repérer ses enjeux en matière d'emploi de travailleurs handicapés, les objectifs à atteindre et les leviers qu'elle pourra utiliser. Il repose sur une analyse fine (quantitative et qualitative) de la situation de l'entreprise au regard de son obligation d'emploi, dans une approche des ressources humaines.<br>

Le diagnostic alimente la réflexion de l'entreprise en lui fournissant les informations indispensables à la prise de décision et en l'aidant à dégager les conditions nécessaires pour la mise en place d'une politique d'emploi mieux intégrée.<br>

Le diagnostic constitue donc une étape préalable à la mise en œuvre d’une politique d'emploi des travailleurs handicapés, intégrée à la politique RH de l'entreprise.</p>
                                            </div>
                                        </li>
                                              
                                        
                                    
                                 
                                     </ul>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>

 <div class="education-main-section education-modren-coursefull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12"> 
                                <h2>
                                    ÉTAPES DU DIAGNOSTIC : </h2>
                            </div>
                            <div class="education-course education-modren-course">
                                <ul class="row">
                               
                                    <li class="col-md-8">
                                     <div class="education-event-grid-text">
                                        <h5>PREMIÈRE ÉTAPE : RECUEIL ET ANALYSE DES DONNÉES QUALITATIVES ET QUANTITATIVES :</h5>
                                        <p>Axe 1 : Les informations sur l'entreprise et son contexte socio-économique.<br>
                                        Axe 2 : Informations concertant les « Travailleurs Handicapés »..</br></p>
                                    </div>
                                    </li>
                             

                                    <li class="col-md-4">
                                    <div class="education-event-grid-text">
                                    <h2>LES ENJEUX :</h2>
                                        <p>Plus la collecte d'information est minutieuse plus l'analyse des données ouvrira des perspectives pertinentes.<br>

                                        Car le diagnostic alimentera la réflexion de l'entreprise et lui fournira tous les paramètres nécessaires à la prise de décision en mettant en lumière les conditions favorables à la bonne mise en oeuvre de la future politique.</br></p>
                                        </div>
                                    </li>
                                    
                                </ul>
                             </div>
                        </div>
                     </div>
                </div>
</div>
 <div class="education-main-section education-modren-coursefull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            
                            <div class="education-course education-modren-course">
                                <ul class="row">  
                                <li class="col-md-8">
                                <div class="education-event-grid-text">
                                <h5>SECONDE ÉTAPE : SYNTHÈSE, FORMALISATION DES SCÉNARIOS ET PRÉCONISATIONS.:</h5>
                                        <p>Cette phase donne lieu à une restitution d'un rapport complet, chiffré, concret et répondant au cahier des charges. Les informations quantitatives et qualitatives recueillies, font l'objet d’une analyse et d’une mise en cohérence, permettant de dégager plusieurs options stratégiques possibles.<br>
                                        Plusieurs «scénarios» déclinés en plans d’actions opérationnels seront explorés et argumentés (avantages/ inconvénients), pour permettre à l'entreprise d'arrêter son choix.</br></p>
                                </div>
                                   
                                    </li>  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
</div>


                
        
      {% endblock %}
