 {% extends '::base.html.twig' %}
{% block title %}Espace d'entreprise{% endblock %}
{% block body %}



        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>FINANCE ET COMPTABILITE</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Formation</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Finance et comptabilité</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



<div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><img src="{{asset('img/illustration/formation-finance-et-comptabilite.jpg')}}" alt=""><i class="fa fa-link"></i></figure>
                                    </li>
                                    <li class="col-md-8">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">FINANCE ET COMPTABILITÉ</a></h5>
                                             
                                            <p>Notre formation permet d’obtenir ou d’approfondir une vision globale des activités financières de l’entreprise, ainsi que de sa gestion financière et comptable.</br></p>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>      
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">PROGRAMME DE LA FORMATION </a></h5>
                                             
                                            <p>Le programme est modulaire, à la carte. Les modules seront préconisés parmi la liste ci-dessous suite à un entretien individuel.</br></p>
                                            <li>LES FONDAMENTAUX DE LA COMPTABILITE GENERALE</li>
                                            <li>MARGE ET RENTABILITE : COMMENT OPTIMISER SES COUTS</li>
                                            <li>LA TAXE SUR LA VALEUR AJOUTEE</li>
                                            <li>ANALYSE DES OPERATIONS COURANTES ET TRAVAUX D'INVENTAIRE</li>
                                            <li>ANALYSE FINANCIERE POUR NON FINANCIERS</li>
                                            <li>COMMENT OPTIMISER ET FINANCER SON BFR</li>
                                            <li>DIAGNOSTIC DES COMPTES FINANCIERS</li>
                                            <li>COMMENT GERER ET OPTIMISER LE FINANCEMENT DE SES PROJETS</li>
                                            <li>PRATIQUE DE L'ANALYSE FINANCIERE</li>
                                            <li>RENTABILITE ET RISQUE</li>
                                            <li>COMMENT ETABLIR ET ANALYSER LES TABLEAUX DE FLUX ET L
                                                ES TABLEAUX DE FINANCEMENT</li>
                                         
                                        </div>
                                  
                                </ul>
                            </div>
                        </div>      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
