{% extends '::base.html.twig' %}
{% block title %}Formation handicap{% endblock %}
{% block body %}



        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>FORMATION HANDICAP</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Formation</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Handicap</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

            <!--// MainHeader \\-->
            <!--// MainHeader \\-->

       <div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><img src="{{asset('img/illustration/formation-handicap.jpg')}}" alt=""><i class="fa fa-link"></i></figure>
                                    </li>
                                    <li class="col-md-8">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">HANDICAP</a></h5>
                                             
                                            <p>Nos différentes formations permettent aux personnes handicapées d'acquérir des connaissances et des compétences nécessaires pour exercer un métier et accéder à l'emploi.</br>

Notre formation facilite l’entrée dans la vie professionnelle ou le maintien dans l’emploi des personnes handicapées par l'acquisition de nouvelles compétences et qualifications.</br></p>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>      
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">PROGRAMME DE LA FORMATION </a></h5>
                                             
                                            <p>Le programme est modulaire, à la carte. Les modules seront préconisés parmi la liste ci-dessous suite à un entretien individuel.</br></p>
                                            <li>POLITIQUE D'INTEGRATION ET DE MAINTIEN DES TRAVAILLEURS HANDICAPES DANS L'ENTREPRISE

</li>
                                            
                                        </div>
                                  
                                </ul>
                            </div>
                        </div>      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}