 {% extends '::base.html.twig' %}
{% block title %}Formation {% endblock %}
{% block body %}



        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>FORMATION HANDICAP</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Formation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>





            <!--// Main Section \\-->
             <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title">
                            <h1>Catalogue de formation</h1></div>
                        <ul class="education-breadcrumb">
                           <!-- <li><a href="index.html">Home</a></li>-->
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active"></li>
                            <p>En tant qu'organisme de formation ALT-RH CONSULTING propose une palette de formations axées sur la gestion de carrière, le handicap, le Management, la comptabilité, les NTIC et les Compétences Commerciales, pour tous les publics à travers des méthodes pédagogiques reconnues et originales!

L'écoute et l'adaptation aux besoins de nos clients et de nos stagiaires, la disponibilité des consultants formateurs et l'utilisation d'outils modernes adaptés sont nos atouts et notre spécificité pour garantir la réussite de nos diverses actions de formations.
</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

        <!--// Main Content \\-->
        <div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    

                                    <li class="col-md-3">
                                        <figure><img src="{{asset('img/illustration/formation-technicien-support-informatique.jpg')}}" alt=""><i class="fa fa-link"></i></figure>
                                        <div class="education-event-grid-text">
                                            <h5>Technicien Supérieur en Support Informatique </h5>
                                            
                                            <p>Titre professionnel certifié de niveau III (BAC+2).</br>

                                            Le programme est modulaire, à la carte. Les modules seront préconisés suite à un entretien individuel.</br></p>
                                            
                                        </div>
                                    </li>


                                    <li class="col-md-3">
                                        <figure><img src="extra-images/formation-technicien-assistance-informatique.jpg" alt=""><i class="fa fa-link"></i></figure>
                                        <div class="education-event-grid-text">
                                            <h5>Technicien d'Assistance en Informatique  </h5>
                                           
                                            <p>Titre professionnel certifié de niveau IV (BAC).</br>

                                            Le programme est modulaire, à la carte. Les modules seront préconisés suite à un entretien individuel.</br></p>
                                           
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <figure><img src="extra-images/formation-administrateur-systeme-et-reseaux.jpg" alt=""><i class="fa fa-link"></i></figure>
                                        <div class="education-event-grid-text">
                                            <h5>Administrateur Systèmes et Réseaux </h5>
                                            
                                            <p>
                                                Titre certifié de niveau II (Bac+4) & certification MCSA.<br> Le programme est modulaire, à la carte. Les modules seront préconisés suite à un entretien individuel.</br></p>
                                            
                                        </div>
                                    </li>
                                   <li class="col-md-3">
                                        <figure><img src="extra-images/formation-concepteur-developpeur-informatique.jpg" alt=""><i class="fa fa-link"></i></figure>
                                        <div class="education-event-grid-text">
                                            <h5>Concepteur Développeur Informatique </h5>
                                            
                                            <p>
                                            Titre professionnel certifié de niveau II (BAC + 4).</br>

                                            Le programme est modulaire, à la carte. Les modules seront préconisés suite à un entretien individuel.</br></p>
                                            
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <figure><img src="extra-images/formation-hygiene-et-securite.jpg" alt=""><i class="fa fa-link"></i>
                                        </figure>
                                        <div class="education-event-grid-text">
                                            <h5>Hygiène et sécurité</h5>
                                            
                                            <p>Ce programme de formation permet à chaque participant d’acquérir les fondements théoriques nécessaires et la connaissance des enjeux actuels.</br></p>
                                            
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <figure><img src="extra-images/formation-developpement-personnel.jpg" alt=""><i class="fa fa-link"></i>
                                        </figure>
                                        <div class="education-event-grid-text">
                                            <h5>Développement personnel</h5>
                                            
                                            <p>Découvrez nos programmes de formations en efficacité professionnelle et en développement personnel.</br></p>
                                            
                                        </div>
                                    </li>
                                     <li class="col-md-3">
                                        <figure><img src="extra-images/formation-finance-et-comptabilite.jpg" alt=""><i class="fa fa-link"></i>
                                        </figure>
                                        <div class="education-event-grid-text">
                                            <h5>Finance et comptabilité</h5>
                                            
                                            <p>Notre formation permet d’obtenir ou d’approfondir une vision globale des activités financières de l’entreprise, ainsi que de sa gestion financière et comptable.</br></p>
                                            
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <figure><img src="extra-images/formation-ressource-humaine.jpg" alt=""><i class="fa fa-link"></i></figure>
                                        <div class="education-event-grid-text">
                                            <h5>Formations ressources humaines</h5>
                                            
                                            <p>Titre professionnel certifié de niveau II (BAC + 4).</br>
                                            Le programme est modulaire, à la carte. Les modules seront préconisés suite à un entretien individuel.</br></p>
                                            
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <figure><img src="extra-images/formation-handicap.jpg" alt=""><i class="fa fa-link"></i></figure>
                                        <div class="education-event-grid-text">
                                            <h5>Handicap</h5>

                                            <p>Nos différentes formations permet aux personnes handicapées d'acquérir des connaissances et des compétences nécessaires pour exercer un métier et accéder à l'emploi.</br></p>
                                            
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <figure><img src="extra-images/formation-management.jpg" alt=""><i class="fa fa-link"></i>
                                        </figure>
                                        <div class="education-event-grid-text">
                                            <h5>Management </h5>
                                            
                                            <p>Notre formation management visent à donner aux managers les clés managériales pour agir afin de conduire les comportements et organiser la production de résultats.</br></p>
                                           
                                        </div>
                                    </li>
                                   
                                    <li class="col-md-3">
                                        <figure><img src="extra-images/formation-langues.jpg" alt=""><i class="fa fa-link"></i>
                                        </figure>
                                        <div class="education-event-grid-text">
                                            <h5>Langues</h5>
                                            
                                            <p>L'acquisition d'une ou plusieurs langues étrangères est désormais capitale dans notre société, que vous soyez particuliers ou salariés d'entreprises. C'est pourquoi, nous vous proposons des formations linguistiques de qualité professionnelle.</br></p>
                                            
                                        </div>
                                    </li>
                                     
                                    <li class="col-md-3">
                                        <figure><img src="extra-images/formation-informatique.jpg" alt=""><i class="fa fa-link"></i></figure>
                                        <div class="education-event-grid-text">
                                            <h5>FORMATIONS INFORMATIQUE</h5>
                                            <p>Nos différentes formations informatique vous permettront d’acquérir une expertise méthodologique, un savoir-faire professionnel ainsi qu'un comportement managérial.</p></br>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--// Pagination \\-->
                            
                            <!--// Pagination \\-->
                        </div>

                    </div>
                </div>
            </div>
            <!--// Main Section \\-->

        </div>

                
{% endblock %}