<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Education Home Page</title>

    <!-- Css Files -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/flaticon.css" rel="stylesheet">
    <link href="css/slick-slider.css" rel="stylesheet">
    <link href="css/fancybox.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="css/color.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <!--// Main Wrapper \\-->
    <div class="education-main-wrapper">

        <!--// Header \\-->
        <header id="education-header" class="education-header-one">
            
            <!--// TopStrip \\-->
            <div class="education-top-strip education-bgcolor">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-6">
                            <ul class="education-userinfo">
                                <li><i class="fa fa-clock-o"></i> 08:00 - 06:00</li>
                                <li><i class="fa fa-phone"></i> 0033 6 16 30 77 54</li>
                            </ul>
                        </aside>
                        <aside class="col-md-6">
                            <ul class="education-user-section">
                                <li>
                                    <div class="education-language">
                                        <a><i class="fa fa-globe"></i> Français</a>
                                    </div>
                                </li>
                                <li> <a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user"></i> Login</a></li>
                                <li> <a href="#" data-toggle="modal" data-target="#signupModal"><i class="fa fa-sign-in"></i> Sign Up</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
            <!--// TopStrip \\-->

            <!--// MainHeader \\-->
            <div class="education-main-header">
                    <div class="row">
                        <aside class="col-md-5">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="true">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">ACCUEIL</a></li>
                                    <li><a href="about-us.html">GESTION DE CARRIERE</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="event-grid.html">Bilan de compétences</a></li>
                                            <li><a href="event-grid.html">Validation des aquis de l'experience</a></li>
                                            <li><a href="event-grid.html">Bilan Mi-Carriere</a></li>
                                            <li><a href="event-grid.html">Coaching</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">FORMATIONS</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="event-grid.html">Informatique</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="event-grid.html">Concepteur Développeur Informatique</a></li>
                                                    <li><a href="event-grid-wls.html">Administrateur Systèmes et Réseaux</a></li>
                                                    <li><a href="event-grid-wrs.html">Technicien d'Assistance en Informatique</a></li>
                                                    <li><a href="event-grid-wrs.html">Technicien Supérieur en Support Informatique</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="event-list.html">Ressources Humaines</a></li>
                                            <li><a href="event-list-wls.html">Management</a></li>
                                            <li><a href="event-medium.html">Finance et comptabilité</a></li>
                                            <li><a href="event-medium.html">Développement personnel</a></li>
                                            <li><a href="event-medium.html">Hygiène et sécurité</a></li>
                                            <li><a href="event-medium.html">Langues</a></li>
                                            <li><a href="event-medium.html">Handicap</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">CREATION D'ENTREPRISE</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="blog-large.html">Méthodologie</a></li>
                                            <li><a href="blog-large.html">Financement</a></li>
                                            <li><a href="blog-large.html">Formations et ateliers</a></li>
                                            <li><a href="blog-large.html">Création d'activité handicap</a></li>
                                        </ul>
                                    </li> 
                                  </ul>
                                </div>
                            </nav>
                        </aside>
                        <aside class="col-md-2"><a href="index.html" class="education-logo"><img src="http://www.alt-rh.com/img/alt-rh-logo.png" alt=""></a></aside>
                        <aside class="col-md-5">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2" aria-expanded="true">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                                  <ul class="nav navbar-nav">
                                     <li><a href="about-us.html">HANDICAP</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="prestations-handicap.html">Prestations Agefiph</a></li>
                                            <li><a href="diagnostic-conseils-handicap.html">Diagnostic conseil</a></li>
                                            <li><a href="bilan-de-maintien-emploi.html">Bilan de maintien dans l'emploi</a></li>
                                            <li><a href="ingenierie-de-formations-handicap.html">Ingénierie de formations TH</a></li>
                                            <li><a href="creation-activite-handicap.html">Création d'activité handicap</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html">RECRUTEMENT</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="methodologie.html">Méthodologie</a></li>
                                            <li><a href="prestations-de-recrutement.html">Prestations de recrutement</a></li>
                                            <li><a href="recrutements-international.html">Recrutement à l'international</a></li>
                                            <li><a href="engagements.html">Nos engagements</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="about-us.html">OFFRES D'EMPLOI</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="event-grid.html">Espace Candidats</a></li>
                                            <li><a href="event-grid.html">Espace Entreprise</a></li>
                                            <li><a href="event-grid.html">Offres d'emploi et stages</a></li>
                                            <li><a href="event-grid.html">Conseils du coach</a></li>
                                            <li><a href="event-grid.html">Nos engagements</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">CONTACT</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="event-grid.html">Nos implantations</a></li>
                                            <li><a href="event-grid.html">Nous contacter</a></li>
                                        </ul>
                                    </li> 
                                  </ul>
                                </div>
                            </nav>
                        </aside>
                    </div>
            </div>
            <!--// MainHeader \\-->
            <!--// MainHeader \\-->

        </header>        <!--// Header \\-->

        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>Event Grid</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Event Grid</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

		<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
				<div class="container">
					<div class="row">
						
						<div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><a href="event-detail.html"><img src="extra-images/handicap.jpg" alt=""><i class="fa fa-link"></i></a></figure>
                                    </li>
                                    <li class="col-md-8">
                                            <div class="education-event-grid-text">
                                                <h5><a href="event-detail.html">Handicap </a></h5>
                                               
                                                <p> Dès sa création, le cabinet ALT-RH Consulting a développé une véritable culture de solidarité et s'est engagé dans une démarche d'intégration du handicap et de la diversité en entreprise.<br>

Cet engagement s'est concrétisé par la création d'un Pôle handicap afin de répondre de façon optimale aux attentes des travailleurs handicapés et à celles de nos entreprises clientes privées ou publiques.<br>

Une approche individuelle et personnalisée dans l'accompagnement et un partenariat de longue date avec l'ensemble des acteurs d'intégration du handicap (l'AGEFIPH, le FIPHP, le cap emploi et la MDPH) nous permet d'accompagner les entreprises dans la mise en place d'une politique d’insertion des collaborateurs handicapés.<br>

L'ensemble des collaborateurs du cabinet ALT-RH CONSULTING constituent une équipe pluridisciplinaire, riche de sa diversité, sensibilisée aux enjeux de la diversité et du handicap.<br>

Notre cabinet conseil s'engage à prévenir toutes discriminations et à promouvoir l'égalité des chances de tous les candidats ou porteurs de projet de création d'activité.</br></p>
                                                <h2>PRESTATIONS HANDICAP</h2>
                                                <li>Diagnostic conseil handicap.</li>
                                                <li>Création ou reprise d'entreprise</li>
                                                <li>Formations d’insertion socioprofessionnelle des personnes handicapées.</li>
                                                <li>Bilans de maintien dans l'emploi des travailleurs handicapés.</li>
                                                <li>Recrutement des travailleurs handicapés ouvriers, employés et cadres.</li>
                                                <li>Formations et sensibilisation aux divers aspects de la diversité et du handicap.</li>
                                                <li>Communication institutionnelle et formalisation des partenariats (écoles, réseau...).</li>
                                            </div>
                                        </li>
                                              
                                        
                                    
                                 
                                     </ul>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>

 

                
                 
        <!--// Footer \\-->
       <div class="education-main-section education-partner-full">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-graduation-cap"></i>
                                <h2>Nos PARTENAIRES</h2>
                            </div>
                            <div class="education-partner">
                                <ul>
                                    <li ><a href="404.html"><img src="partenaires/partenaire-oseo.jpg"  alt=""></a></li>
                                    <li ><a href="404.html"><img src="partenaires/partenaire-afdas.jpg"   alt=""></a></li>
                                     <li ><a href="404.html"><img src="partenaires/partenaire-agefiph.jpg"  alt=""></a></li>
                                    <li ><a href="404.html"><img src="partenaires/partenaire-apec.jpg"   alt=""></a></li>
                                    <li><a href="404.html"><img src="partenaires/partenaire-banque-credit-agricole.jpg"  alt=""></a></li>
                                     <li><a href="404.html"><img src="partenaires/partenaire-banque-lcl.jpg"  alt=""></a></li>
                                    <li ><a href="404.html"><img src="partenaires/partenaire-enrope-sengage-en-france.jpg"   alt=""></a></li>
                                     <li><a href="404.html"><img src="partenaires/partenaire-centre-inffo.jpg" alt=""></a></li>
                                      <li ><a href="404.html"><img src="partenaires/partenaire-fafsea.jpg"  alt=""></a></li>
                                       <li><a href="404.html"><img src="partenaires/partenaire-ffp.jpg"  alt=""></a></li>
                                        <li ><a href="404.html"><img src="partenaires/partenaire-fongecif.jpg"  alt=""></a></li>
                                         <li ><a href="404.html"><img src="partenaires/partenaire-france-initiative.jpg"  alt=""></a></li>
                                          <li ><a href="404.html"><img src="partenaires/partenaire-opcalia.jpg"  alt=""></a></li>
                                           <li ><a href="404.html"><img src="partenaires/partenaire-pole-emploi.jpg"   alt=""></a></li>
                                            <li ><a href="404.html"><img src="partenaires/partenaire-unifaf.jpg"  alt=""></a></li>
                                             <li ><a href="404.html"><img src="partenaires/partenaire-uniformation.jpg"   alt=""></a></li>
                                              <li ><a href="404.html"><img src="partenaires/partenaire-val-d-oise-departement.jpg"  alt=""></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Section \\-->

            <!--// Main Section \\-->
         
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="education-subscribe-newsletter">
                                <img src="extra-images/news-latter-img.jpg" alt="">
                                <div class="education-newslatter-text">
                                    <h2>Subscribe To Our Newsletter</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat ipsum maximus malesuada. Donec non ex faucibus, fringilla tellus eget, maximus arcu. Duis et eros nisl.</p>
                                    <form>
                                        <input type="text" value="Type Here" onblur="if(this.value == '') { this.value ='Type Here'; }" onfocus="if(this.value =='Type Here') { this.value = ''; }">
                                        <label><input type="submit" value="Subscribe Now"></label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!--// Main Section \\-->

        </div>
        <!--// Main Content \\-->

        <!--// Footer \\-->
        <footer id="education-footer" class="education-footer-one">
            <span class="education-footer-pattren"></span>
            
            <!--// Footer Widget \\-->
            <div class="education-footer-widget">
                <div class="container">
                    <div class="row">
                        <!--// Widget Contact Info \\-->
                        <aside class="col-md-4 widget widget_contact_info">
                            <a href="index.html" class="education-footer-logo"><img src="images/footer-logo.png" alt=""></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat urna non ipsum maxim us malesuada.</p>
                            <ul>
                                <li><i class="education-color fa fa-home"></i> 195 Cooks Mine Road Espa nola, NM 87532</li>
                                <li><i class="education-color fa fa-phone"></i> +123 45 678 - 00 913 2245 <br>678</li>
                                <li><i class="education-color fa fa-envelope"></i> <a href="mailto:name@email.com">info@example.com - </a> <a href="mailto:name@email.com">example@abc.com</a></li>
                            </ul>
                        </aside>
                        <!--// Widget Contact Info \\-->
                        <!--// Widget Featured Courses \\-->
                        <aside class="col-md-4 widget widget_featured_courses">
                            <div class="education-footer-title"> <h4>Featured Courses</h4> </div>
                            <ul>
                                <li>
                                    <figure><a href="course-detail.html"><img src="extra-images/widget-featured-courses-1.jpg" alt=""></a>
                                        <figcaption>
                                            <h6><a href="course-detail.html">Lorem ipsum dolor sit amet, cons scing elit. Praesent.</a></h6>
                                            <div class="star-rating"><span class="star-rating-box" style="width:54%"></span></div>
                                            <small>( 12 Reviews )</small>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure><a href="course-detail.html"><img src="extra-images/widget-featured-courses-2.jpg" alt=""></a>
                                        <figcaption>
                                            <h6><a href="course-detail.html">Lorem ipsum dolor sit amet, cons scing elit. Praesent.</a></h6>
                                            <div class="star-rating"><span class="star-rating-box" style="width:34%"></span></div>
                                            <small>( 12 Reviews )</small>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure><a href="course-detail.html"><img src="extra-images/widget-featured-courses-3.jpg" alt=""></a>
                                        <figcaption>
                                            <h6><a href="course-detail.html">Lorem ipsum dolor sit amet, cons scing elit. Praesent.</a></h6>
                                            <div class="star-rating"><span class="star-rating-box" style="width:85%"></span></div>
                                            <small>( 12 Reviews )</small>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </aside>
                        <!--// Widget Featured Courses \\-->
                        <!--// Widget Gallery \\-->
                        <aside class="col-md-4 widget widget_gallery">
                            <div class="education-footer-title"> <h4>Flicker Images</h4> </div>
                            <ul>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-1.jpg" class="fancybox"><img src="extra-images/widget-gallery-1.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-2.jpg" class="fancybox"><img src="extra-images/widget-gallery-2.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-3.jpg" class="fancybox"><img src="extra-images/widget-gallery-3.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-4.jpg" class="fancybox"><img src="extra-images/widget-gallery-4.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-5.jpg" class="fancybox"><img src="extra-images/widget-gallery-5.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-6.jpg" class="fancybox"><img src="extra-images/widget-gallery-6.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-7.jpg" class="fancybox"><img src="extra-images/widget-gallery-7.jpg" alt=""></a></li>
                                <li><a data-fancybox-group="group" href="extra-images/widget-gallery-8.jpg" class="fancybox"><img src="extra-images/widget-gallery-8.jpg" alt=""></a></li>
                            </ul>
                        </aside>
                        <!--// Widget Gallery \\-->
                    </div>
                </div>
            </div>
            <!--// Footer Widget \\-->

            <!--// CopyRight \\-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-copyright">
                            <p>© 2017, All Right Reserved - by <a href="index.html">EyeCix</a></p>
                            <ul>
                                <li><a href="404.html">Privacy</a></li>
                                <li><a href="404.html">Terms</a></li>
                                <li><a href="404.html">Sitemap</a></li>
                                <li><a href="404.html">Purchase</a></li>
                            </ul>
                            <a href="#" class="education-back-top"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--// CopyRight \\-->

        </footer>
        <!--// Footer \\-->

        <!--// Footer Parallax \\-->
      <!--  <div class="education-parallax">
            <span class="education-footer-pattren"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Get the Coaching Training for Free</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et elementum nulla, eu placerat felis. Etiam tincidunt orci lacus, id varius.</p> <br>
                        <a href="#">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>-->
        <!--// Footer Parallax \\-->

    <div class="clearfix"></div>
    </div>
    <!--// Main Wrapper \\-->

    <!-- LoginModal -->
    <div class="loginmodal modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="education-login-box">
                <a href="#" data-dismiss="modal" class="education-login-close"><i class="icon-uniF106"></i></a>
                <h4>Login To Your Account</h4>
                <form>
                    <input type="text" value="Enter username*" onblur="if(this.value == '') { this.value ='Enter username*'; }" onfocus="if(this.value =='Enter username*') { this.value = ''; }">
                    <input type="password" value="Password*" onblur="if(this.value == '') { this.value ='Password*'; }" onfocus="if(this.value =='Password*') { this.value = ''; }">
                    <a href="#">Forget Password?</a>
                    <div class="clearfix"></div>
                    <label><input type="submit" value="Sign In"></label>
                </form>
                <h4>Try Our Socials Also</h4>
                <ul class="login-network">
                    <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                    <li class="education-twitter"><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                    <li class="education-google-plus"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li>
                </ul>
                <p>Not A Member Yet ? <a href="#" class="education-color">Sign - Up Now !</a></p>
            </div>
        <div class="clearfix"></div>
        </div>
    </div>

    <!-- SignupModal -->
    <div class="loginmodal modal fade" id="signupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="education-login-box">
                <a href="#" data-dismiss="modal" class="education-login-close education-color"><i class="icon-uniF106"></i></a>
                <h4>Sign Up Now</h4>
                <form>
                    <input type="text" value="Enter username*" onblur="if(this.value == '') { this.value ='Enter username*'; }" onfocus="if(this.value =='Enter username*') { this.value = ''; }">
                    <input type="text" value="Type your password*" onblur="if(this.value == '') { this.value ='Type your password*'; }" onfocus="if(this.value =='Type your password*') { this.value = ''; }">
                    <input type="text" value="Confirm your password*" onblur="if(this.value == '') { this.value ='Confirm your password*'; }" onfocus="if(this.value =='Confirm your password*') { this.value = ''; }">
                    <a href="#">Forget Password?</a>
                    <div class="clearfix"></div>
                    <label><input type="submit" value="Sign Up"></label>
                </form>
                <h4>Try Our Socials Also</h4>
                <ul class="login-network">
                    <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                    <li class="education-twitter"><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                    <li class="education-google-plus"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li>
                </ul>
                <p>Not A Member Yet ? <a href="#" class="education-color">Login - Now !</a></p>
            </div>
        <div class="clearfix"></div>
        </div>
    </div>


    <!-- jQuery (necessary for JavaScript plugins) -->
    <script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript" src="script/bootstrap.min.js"></script>
    <script type="text/javascript" src="script/slick.slider.min.js"></script>
    <script type="text/javascript" src="script/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="script/fancybox.pack.js"></script>
    <script type="text/javascript" src="script/progressbar.js"></script>
    <script type="text/javascript" src="script/counter.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="script/functions.js"></script>

  </body>
</html>
