{% extends '::base.html.twig' %}
{% block title %}Handicap {% endblock %}
{% block body %}


        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>HANDICAP</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Formation</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Handicap/li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

		<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
				<div class="container">
					<div class="row">
						
						<div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><a href="event-detail.html"><img src="{{asset('img/illustration/handicap.jpg')}}" alt=""><i class="fa fa-link"></i></a></figure>
                                    </li>
                                    <li class="col-md-8">
                                            <div class="education-event-grid-text">
                                                <h5><a href="event-detail.html">Handicap </a></h5>
                                               
                                                <p> Dès sa création, le cabinet ALT-RH Consulting a développé une véritable culture de solidarité et s'est engagé dans une démarche d'intégration du handicap et de la diversité en entreprise.<br>

Cet engagement s'est concrétisé par la création d'un Pôle handicap afin de répondre de façon optimale aux attentes des travailleurs handicapés et à celles de nos entreprises clientes privées ou publiques.<br>

Une approche individuelle et personnalisée dans l'accompagnement et un partenariat de longue date avec l'ensemble des acteurs d'intégration du handicap (l'AGEFIPH, le FIPHP, le cap emploi et la MDPH) nous permet d'accompagner les entreprises dans la mise en place d'une politique d’insertion des collaborateurs handicapés.<br>

L'ensemble des collaborateurs du cabinet ALT-RH CONSULTING constituent une équipe pluridisciplinaire, riche de sa diversité, sensibilisée aux enjeux de la diversité et du handicap.<br>

Notre cabinet conseil s'engage à prévenir toutes discriminations et à promouvoir l'égalité des chances de tous les candidats ou porteurs de projet de création d'activité.</br></p>
                                                <h2>PRESTATIONS HANDICAP</h2>
                                                <li>Diagnostic conseil handicap.</li>
                                                <li>Création ou reprise d'entreprise</li>
                                                <li>Formations d’insertion socioprofessionnelle des personnes handicapées.</li>
                                                <li>Bilans de maintien dans l'emploi des travailleurs handicapés.</li>
                                                <li>Recrutement des travailleurs handicapés ouvriers, employés et cadres.</li>
                                                <li>Formations et sensibilisation aux divers aspects de la diversité et du handicap.</li>
                                                <li>Communication institutionnelle et formalisation des partenariats (écoles, réseau...).</li>
                                            </div>
                                        </li>
                                              
                                        
                                    
                                 
                                     </ul>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>

 

       {% endblock %}