        {% extends '::base.html.twig' %}
        {% block title %}ALT-RH CONSULTING - Accueil{% endblock %} 
      
        {% block body %}

        <!--// Main Banner \\-->
        <div class="education-banner">

            <!--// Slider \\-->
            <div class="education-banner-one">
                <div class="education-banner-one-layer">
                    <img src="extra-images/organisme-de-formations.jpg" width="1920" height="840" alt="">
                    <div class="education-banner-caption">
                        <span class="education-bgcolor">Accelérateur de carriere</span>
                        <br>
                        <span class="education-bgcolor banner-title">Booster vos competences</span>
                    </div>
                    <div class="education-banner-thumb"> <img src="extra-images/atouts-espace-candidats.jpg" width="755" height="550" alt=""> </div>
                </div>
                <div class="education-banner-one-layer">
                    <img src="extra-images/atouts-espace-candidats.jpg" width="755" height="550" alt="">
                    <div class="education-banner-caption">
                        <span class="education-bgcolor">Le centre de formation par excellence</span>
                        <br>
                        <span class="education-bgcolor banner-title">Bienvenue dans ALT RH</span>
                    </div>
                    <div class="education-banner-thumb"> <img src="extra-images/business-woman.png" width="755" height="550" alt=""> </div>
                </div>
            </div>
            <!--// Slider \\-->
            
        </div>
        <!--// Main Banner \\--> 
         <div class="education-main-section education-modren-coursefull">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-graduation-cap"></i>
                               
                                <h2>PRESENTATION GENERALE</h2>
                            </div>
                            <div class="education-course education-modren-course">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><img src="extra-images/presentation.jpg"  width= "360" height="250" alt=""> 
                                            <div class="star-rating"><span class="star-rating-box" style="width:55%"></span></div>
                                            
                                        </figure>
                                        <div class="education-grid-wrap">
                                            <div class="education-modren-course-text">
                                                <h5>PRESENTATION</h5>
                                                
                                                <p>Constamment en quête de l'excellence dans l'accompagnement en gestion de carrière, notre ambition est de placer l'humain au coeur de l'entreprise sur la base des compétences acquises et mobilisables.</br>

Engagés dans la réinsertion professionnelle, nous contribuons à la performance des entreprises par l'optimisations des ressources humaines dans leur diversité et leur complémentarité.</br>

Fort d'un département dédié au handicap, nous accompagnons également les entreprises dans la mise en place d'une politique RH intégrant le recrutement et le maintien dans l'emploi des collaborateurs en situation de handicap. </br>

La chaîne unifiée de compétences de nos consultants permet au cabinet ALT-RH CONSULTING de s'organiser autour de 5 principaux Pôles d'expertise.</br>

</p>
                                            </div>
                                          
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <figure><img src="extra-images/equipe.jpg" width="360" height="250" alt=""> 
                                            <div class="star-rating"><span class="star-rating-box" style="width:55%"></span></div>
                                            
                                        </figure>
                                        <div class="education-grid-wrap">
                                            <div class="education-modren-course-text">
                                                <h5>UNE EQUIPE D'EXPERT A VOTRE SERVICE</h5>
                                               
                                                <p>Notre réussite est en grande partie liée à la qualité de notre équipe, construite autour de consultants confirmés volontaires et enthousiastes, riches d’expériences professionnelles diversifiées et complémentaires.</br>

Notre implication à vos cotés s’inscrit dans une relation de confiance, de continuité, de proximité,fondée sur une éthique référant aux meilleurs pratiques de nos métiers.</br>

La dimension humaine qui caractérise nos rapports avec nos partenaires est un atout supplémentaire qui favorise la réactivité, la flexibilité et l'adaptabilité de nos propositions.</br>

Notre équipe vous garantie une rigueur dans les démarches et les relations fondée sur la transparence avec une déontologie et une constante dans nos méthodes (certification NF)..</p>
                                            </div>
                                        </div>
                                    </li>

                                                
                                    <li class="col-md-4">
                                        <figure><img src="extra-images/engagement.jpg" width= "360" height="250" alt=""> 
                                            <div class="star-rating"><span class="star-rating-box" style="width:55%"></span></div>
                                            
                                        </figure>
                                        <div class="education-grid-wrap">
                                            <div class="education-modren-course-text">
                                                <h5>UNE DÉMARCHE ÉTHIQUE ET DÉANTOLOGIQUE</h5>
                                               
                                                <p>Notre démarche est fondée sur les principes de confidentialité, de rigueur, d'accompagnement et d'exigence.</br>

La Charte de la diversité adoptée par chaque membre de l'équipe du cabinet ALT-RH CONSULTING a pour objet de témoigner de notre engagement en faveur de la diversité dans nos relations avec nos partenaires publics ou privés.</br>

Nous nous engageons à respecter et promouvoir l'application du principe de non–discrimination sous toutes ses formes et dans toutes les étapes de gestion des ressources humaines que sont notamment l'embauche, la formation, l'avancement ou la promotion professionnelle des collaborateurs.</br>

Nous cherchons à refléter la diversité de la société française et notamment sa diversité culturelle et ethnique dans notre effectif, aux différents niveaux de qualification. C'est pourquoi nous communiquons auprès de l'ensemble de nos collaborateurs notre engagement en faveur de la non–discrimination et de la diversité et nous faisons de l'élaboration et de la mise en oeuvre de cette politique de diversité un objet de dialogue avec les représentants des personnels.

.</p>
                                            </div>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        <!--// Main Content \\-->
        <div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <!--// Services \\-->
                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-graduation-cap"></i>
                                <span></span>
                                <h2>NOS SERVICES</h2>
                            </div>
                            <div class="education-service education-service-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class=" icon-old-fashion-briefcase"></i>
                                            <h5><a href="service-detail">GESTION DE CARRIERE ET ASSESSMENT</a></h5>
                                            <p>Lorem ipsum dolor sit amet, con ctetur adipiscing elit. Praese</p>
                                            <a href="service-detail" class="education-readmore-btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a>
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class="icon-calculate"></i>
                                            <h5><a href="service-detail">FORMATION PROFESSIONNELLE</a></h5>
                                            <p>Lorem ipsum dolor sit amet, con ctetur adipiscing elit. Praese</p>
                                            <a href="service-detail" class="education-readmore-btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a>
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class="icon-flask-outline"></i>
                                            <h5><a href="service-detail">CONSULTING HANDICAP ET DIVERSITE</a></h5>
                                            <p>Lorem ipsum dolor sit amet, con ctetur adipiscing elit. Praese</p>
                                            <a href="service-detail" class="education-readmore-btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a>
                                        </div>
                                    </li>
                                     <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class="icon-pencil-and-ruler-cross-of-school-materials"></i>
                                            <h5><a href="service-detail">RECRUTEMENT ET OUTPLACEMENT</a></h5>
                                            <p>Lorem ipsum dolor sit amet, con ctetur adipiscing elit. Praese</p>
                                            <a href="service-detail" class="education-readmore-btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a>
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class="icon-computer-mouse"></i>
                                            <h5><a href="service-detail">CREATION ET REPRISE D'ENTREPRISE</a></h5>
                                            <p>Lorem ipsum dolor sit amet, con ctetur adipiscing elit. Praese</p>
                                            <a href="service-detail" class="education-readmore-btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a>
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <div class="education-service-grid-wrap">
                                            <i class="icon-molecule"></i>
                                            <h5><a href="service-detail">OFFRE D'EMPLOI</a></h5>
                                            <p>Lorem ipsum dolor sit amet, con ctetur adipiscing elit. Praese</p>
                                            <a href="service-detail" class="education-readmore-btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <!--// Services \\-->

                    </div>
                </div>
            </div>
            <!--// Main Section \\-->


            <!--// Main Section \\-->
             
            
        {% endblock %}