{% extends '::base.html.twig' %}
{% block title %}Langues {% endblock %}
{% block body %}


        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>LANGUES</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Formation</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Langues/li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><img src="extra-images/formation-langues.jpg" alt=""><i class="fa fa-link"></i></figure>
                                    </li>
                                    <li class="col-md-8">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">Langues</a></h5>
                                             
                                            <p>L'acquisition d'une ou plusieurs langues étrangères est désormais capitale dans notre société, que vous soyez particuliers ou salariés d'entreprises. C'est pourquoi, nous vous proposons des formations linguistiques de qualité professionnelle.</br></p>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>      
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">PROGRAMME DE LA FORMATION </a></h5>
                                             
                                            <p>Le programme est modulaire, à la carte. Les modules seront préconisés parmi la liste ci-dessous suite à un entretien individuel.</br></p>
                                            <li>ANGLAIS</li>
                                            <li>ESPAGNOL</li>
                                            <li>CHINOIS</li>
                                            <li>LANGUES DES SIGNES FRANCAISES LSF</li>
                                            <li>FRANCAIS</li>
                                            
                                        </div>
                                  
                                </ul>
                            </div>
                        </div>      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}