{% extends '::base.html.twig' %}
{% block title %}Management {% endblock %}
{% block body %}


        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>MANAGEMENT</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Formation</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Management/li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

<div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><img src="{{asset('img/illustration/formation-management.jpg')}}" alt=""><i class="fa fa-link"></i></figure>
                                    </li>
                                    <li class="col-md-8">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">MANAGEMENT</a></h5>
                                             
                                            <p>Notre formation management visent à donner aux managers les clés managériales pour agir afin de conduire les comportements et organiser la production de résultats.</br></p>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>      
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">PROGRAMME DE LA FORMATION </a></h5>
                                             
                                            <p>Le programme est modulaire, à la carte. Les modules seront préconisés parmi la liste ci-dessous suite à un entretien individuel.</br></p>
                                            <li>ACQUERIR LES BASES FONDAMENTALES DU MANAGEMENT</li>
                                            <li>ANIMER ET MOTIVER SON EQUIPE AU QUOTIDIEN</li>
                                            <li>COMMUNIQUER EFFICACEMENT AVEC SES COLLABORATEURS</li>
                                            <li>ENTRETIENS ANNUELS D'EVALUATION</li>
                                            <li>GERER LES CRISES ET LES CONFLITS AU SEIN DE L'EQUIPE</li>
                                            <li>CONDUIRE DES REUNIONS EFFICACES</li>
                                            <li>ENCADRER, ANIMER ET MOTIVER UNE EQUIPE DE COMMERCIAUX</li>
                                         
                                        </div>
                                  
                                </ul>
                            </div>
                        </div>      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}