{% extends '::base.html.twig' %}
{% block title %}Nos engagements{% endblock %}
{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="education-section-heading"><h6 class="text-warning">PARIS LA DEFENSE</h6></div>
            <div class="education-section-heading"><h6>TOUR EGEE</h6></div>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 9-11 Allée de l'arche<br>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 92671 Paris La Défense<br>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tel : 01 49 97 15 11<br>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mail : contact@alt-rh.com<br><br>
            <button  type="button" class="btn btn-success">AFFICHER LA CARTE<i class="material-icons">place</i></button>

        </div>
        <div class="col-md-4">
            <div class="education-section-heading"><h6 class="text-warning">ASNIERES</h6></div>
            <div class="education-section-heading"><h6>ALMA BUREAU SERVICES</h6></div>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 5-7 rue de l'alma<br>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 92600 Asnières<br>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tel: 01 49 97 15 11<br>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mail : contact@alt-rh.com<br><br>
            <button  type="button" class="btn btn-success">AFFICHER LA CARTE<i class="material-icons">place</i></button>

        </div>
        <div class="col-md-4">
            <div class="education-section-heading"><h6 class="text-warning">CERGY</h6></div>
            <div class="education-section-heading"><h6>IMMEUBLE NIKOLSEIN</h6></div>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 20 Rue Lavoisier<br>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 95300 PONTOISE<br>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tel: 01 49 97 15 11<br>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mail : contact@alt-rh.com<br><br>
            <button  type="button" class="btn btn-success">AFFICHER LA CARTE<i class="material-icons">place</i></button>

        </div>
    </div>
        <div class="row">

            <div class="col-md-4"><br><br>
                <div class="education-section-heading"><h6 class="text-warning">SARCELLES</h6></div>
                <div class="education-section-heading"><h6>IMMEUBLE CEFIAC</h6></div>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 31 Av du 8 Mai 1945<br>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 95200 Sarcelles<br>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tel: 01 49 97 15 11<br>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mail : contact@alt-rh.com<br><br>
                <button  type="button" class="btn btn-success">AFFICHER LA CARTE<i class="material-icons">place</i></button>
            </div>
            <div class="col-md-4"><br><br>
                <div class="education-section-heading"><h6 class="text-warning">SERRIS VAL D'EUROPE</h6></div>
                <div class="education-section-heading"><h6>IMMEUBLE REGUS</h6></div>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 03 rue du Cochet <br>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 77700 Bailly romainvilliers<br>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tel: 01 49 97 15 11<br>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mail : contact@alt-rh.com<br><br>
                <button  type="button" class="btn btn-success">AFFICHER LA CARTE<i class="material-icons">place</i></button>


            </div>

        </div>
    </div>



{% endblock %}