{% extends '::base.html.twig' %}
{% block title %}Nos engagements{% endblock %}
{% block body %}


            <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>NOS ANGAGEMENTS</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Recrutement</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Nos engagements</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
		<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
				<div class="container">
					<div class="row">
						
						<div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><a href=""><img src="{{asset('img/illustration/nos-engagements-de-recrutement.jpg')}}" alt=""><i class="fa fa-link"></i></a></figure>
                                    </li>
                                    <li class="col-md-8">
                                            <div class="education-event-grid-text">
                                                <h5><a href="">Nos engagements </a></h5>
                                               
                                                <p>En nous adaptant en permanence aux mutations sectorielles grâce à l'expertise de nos consultants, nous intervenons dans différents secteurs d'activité afin d'identifier, de sélectionner et de convaincre les profils de cadres « Middle et Top management » les plus adaptés aux besoins de nos clients.</br>

Dans le cadre de notre déontologie, nous nous engageons à respecter l'ensemble des contraintes que nous définissons ensemble pour votre recrutement et notamment en termes de confidentialité, d’efficacité, de star-ratingpidité et de respect des candidats.</br></p>
                                                <ol>Nous plaçons la transparence, le sens du service et la confiance réciproque au centre de la relation que nous souhaitons construire ensemble.</ol>

                                                <ol>Par souci de loyauté, nous nous engageons à ne pas contacter les collaborateurs de nos entreprises clientes et nous vous garantissons l'exclusivité des candidats identifiés dans le cadre de votre mandat.</ol>

                                                <ol>Faisabilité : Etude approfondie du problème posé avant prise en charge.</ol>

                                                <ol>Confidentialité : Respect des candidats et préservation des intérêts de notre clien</ol>

                                                <ol>Garanties : Relance de la mission sans complément d’honoraires si le candidat choisi n’est pas confirmé en fin de période d’essai.</ol>
                                                <ol>Aucune sollicitation pour d'autres opportunités, des collaborateurs de nos clients.</ol>
                                            </div>
                                        </li>
                                              
                                        
                                    
                                 
                                     </ul>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                     </div>

 {% endblock %}

                
                 
      