{% extends '::base.html.twig' %}
{% block title %}Offre d'emploi{% endblock %}
{% block body %}
	



        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>OFFRES D'EMPLOI</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>Offres emploi</li>
							
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

		<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
				<div class="container">
					<div class="row">
						
						<div class="col-md-9">
                            <div class="education-event education-event-list">
                                <ul class="row">
                                    <li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">AGENT COMMERCIAL : DÉFISCALISATION, ASSURANCE, ...</a></h5>
                                                <p>Notre client développe et commercialise des produits financiers (sous-jacents assurance et immobilier) à l’attention de dirigeants et de professions libérales en France (région parisienne, Marseille et Toulouse).
													Dans le cadre de son développement, il recherche des agents commerciaux r... </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh07560</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">CONSEILLER COMMERCIAL B TO B H/F</a></h5>
                                                <p>AMAT RH CONSULTANTS, cabinet conseil en ressources humaines, recherche, pour un groupe spécialisé dans le regroupement de crédits et financement de projets, un Conseiller Commercial B to B H/F. </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh561230</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">CHEF DE PROJET LOGICIEL H/F</a></h5>
                                                <p>AMAT RH consultants, cabinet conseil spécialisé en recrutement et gestion de carrière, recrute pour un de ses clients un Chef de Projet Logiciel pour l'accompagner dans sa croissance. </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh41120</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">DESSINATEUR-PROJECTEUR H/F</a></h5>
                                                <p>Notre Client conçoit et réalise des ensembles industriels clés en main à fort contenu technologique cherche à recruter un Dessinateur-Projecteur H/F </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh78123</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">DIRECTEUR COMMERCIAL</a></h5>
                                                <p>AMAT RH Consultants, cabinet conseil spécialisé en recrutement et gestion de carrière, recrute pour un de ses clients, spécialiste en téléphonie d’entreprise un Directeur Commercial en CDI </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh713690</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">INGENIEUR - CHEF DE PROJET WEB EXPERT H/F</a></h5>
                                                <p>En quelques années, le groupe s'est imposé comme un acteur incontournable du numérique en France. La société consolide un savoir-faire unique et transversal qui a permis de développer un concept innovant favorisant la gestion des territoires grâce à l'innovation numérique. </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh75020</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">RESPONSABLE APRÈS-VENTE H/F</a></h5>
                                                <p>Nous recrutons un Responsable Après-vente H/F pour le compte de notre client leader dans le secteur de la Distribution </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh63120</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">AGENT COMMERCIAL : DÉFISCALISATION, ASSURANCE, ...</a></h5>
                                                <p>Notre client développe et commercialise des produits financiers (sous-jacents assurance et immobilier) à l’attention de dirigeants et de professions libérales en France (région parisienne, Marseille et Toulouse).
													Dans le cadre de son développement, il recherche des agents commerciaux r... </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh07560</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">AGENT COMMERCIAL : DÉFISCALISATION, ASSURANCE, ...</a></h5>
                                                <p>Notre client développe et commercialise des produits financiers (sous-jacents assurance et immobilier) à l’attention de dirigeants et de professions libérales en France (région parisienne, Marseille et Toulouse).
													Dans le cadre de son développement, il recherche des agents commerciaux r... </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh07560</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">AGENT COMMERCIAL : DÉFISCALISATION, ASSURANCE, ...</a></h5>
                                                <p>Notre client développe et commercialise des produits financiers (sous-jacents assurance et immobilier) à l’attention de dirigeants et de professions libérales en France (région parisienne, Marseille et Toulouse).
													Dans le cadre de son développement, il recherche des agents commerciaux r... </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh07560</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">AGENT COMMERCIAL : DÉFISCALISATION, ASSURANCE, ...</a></h5>
                                                <p>Notre client développe et commercialise des produits financiers (sous-jacents assurance et immobilier) à l’attention de dirigeants et de professions libérales en France (région parisienne, Marseille et Toulouse).
													Dans le cadre de son développement, il recherche des agents commerciaux r... </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh07560</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">AGENT COMMERCIAL : DÉFISCALISATION, ASSURANCE, ...</a></h5>
                                                <p>Notre client développe et commercialise des produits financiers (sous-jacents assurance et immobilier) à l’attention de dirigeants et de professions libérales en France (région parisienne, Marseille et Toulouse).
													Dans le cadre de son développement, il recherche des agents commerciaux r... </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh07560</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">AGENT COMMERCIAL : DÉFISCALISATION, ASSURANCE, ...</a></h5>
                                                <p>Notre client développe et commercialise des produits financiers (sous-jacents assurance et immobilier) à l’attention de dirigeants et de professions libérales en France (région parisienne, Marseille et Toulouse).
													Dans le cadre de son développement, il recherche des agents commerciaux r... </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh07560</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
									<li class="col-md-12">
                                        
                                      
                                        <div class="education-event-list-wrap">
                                            <div class="education-event-list-text">
                                                <h5><a href="event-detail.html">AGENT COMMERCIAL : DÉFISCALISATION, ASSURANCE, ...</a></h5>
                                                <p>Notre client développe et commercialise des produits financiers (sous-jacents assurance et immobilier) à l’attention de dirigeants et de professions libérales en France (région parisienne, Marseille et Toulouse).
													Dans le cadre de son développement, il recherche des agents commerciaux r... </p>
                                            </div>
                                            <ul class="education-course-grid-option">
                                                <li> Ile de France </li>
                                                <li> CDI </li>
                                                <li> ALT RH </li>
												<li><i class="fa fa-calendar-o"></i> 29 / 03 / 2016</li>
                                                <li><i class="fa fa-clock-o"></i> Rh07560</li>
                                                
                                            </ul>
                                        </div>
                                    </li>
                                    </div>
									
									
									
									
                            <!--// Pagination \\-->
                            <div class="education-pagination">
                              <ul class="page-numbers">
                                 <li><a class="previous page-numbers" href="#"><span aria-label="Next"><i class="fa fa-angle-left"></i></span></a></li>
                                 <li><span class="page-numbers current">1</span></li>
                                 <li><a class="page-numbers" href="#">2</a></li>
                                 <li><a class="page-numbers" href="#">3</a></li>
                                 <li><a class="page-numbers" href="#">4</a></li>
                                 <li><a class="next page-numbers" href="#"><span aria-label="Next"><i class="fa fa-angle-right"></i></span></a></li>
                              </ul>
                            </div>
                            <!--// Pagination \\-->
                        </div>

                        <!--// SideBaar \\-->
                        <aside class="col-md-3 education-sidebar">

                            <!--// Widget Featured Courses \\-->
                            <div class="education-widget-heading"><h2>OFFRES A LA UNE</h2></div>
                            <div class="widget widget_featured_courses">
                                <ul>
                                    <li>
                                                <h6><a href="course-detail.html">AGENT COMMERCIAL : DÉFISC...</a></h6>
												<p>Notre client développe et commercialise des produits financiers (sous-jace...</p>
                                                <small>ALT RH | Île-de-France | CDI </small>
                                    </li>
                                    <li>
                                                <h6><a href="course-detail.html">AGENT COMMERCIAL : DÉFISC...</a></h6>
												<p>Notre client développe et commercialise des produits financiers (sous-jace...</p>
                                                <small>ALT RH | Île-de-France | CDI </small>
                                    </li>
									<li>
                                                <h6><a href="course-detail.html">AGENT COMMERCIAL : DÉFISC...</a></h6>
												<p>Notre client développe et commercialise des produits financiers (sous-jace...</p>
                                                <small>ALT RH | Île-de-France | CDI </small>
                                    </li>
									<li>
                                                <h6><a href="course-detail.html">AGENT COMMERCIAL : DÉFISC...</a></h6>
												<p>Notre client développe et commercialise des produits financiers (sous-jace...</p>
                                                <small>ALT RH | Île-de-France | CDI </small>
                                    </li>
									<li>
                                                <h6><a href="course-detail.html">AGENT COMMERCIAL : DÉFISC...</a></h6>
												<p>Notre client développe et commercialise des produits financiers (sous-jace...</p>
                                                <small>ALT RH | Île-de-France | CDI </small>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <!--// SideBaar \\-->

					</div>
				</div>
			</div>
			<!--// Main Section \\-->

		</div>
		<!--// Main Content \\-->

        <!--// Footer \\-->
        


{% endblock %}
