{% extends '::base.html.twig' %}
{% block title %}Ressources humaines{% endblock %}
{% block body %}


           
        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>RESSOURCES HUMAINES</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li>>Formation</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Ressources humaines</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

<div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><img src="{{asset('img/illustration/formation-ressource-humaine.jpg')}}" alt=""><i class="fa fa-link"></i></figure>
                                    </li>
                                    <li class="col-md-8">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">RESSOURCES HUMAINES</a></h5>
                                             
                                            <p>TDétails de nos formations en ressources humaines.</br>

Les professionnels des ressources humaines ont pour mission de développer les compétences et l'employabilité des salariés, tout en créant une organisation du travail qui favorise la réussite du binôme employeur-employés..</br></p>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>      
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">PROGRAMME DE LA FORMATION </a></h5>
                                             
                                            <p>Le programme est modulaire, à la carte. Les modules seront préconisés parmi la liste ci-dessous suite à un entretien individuel.</br></p>
                                            <li>CYCLES CERTIFIANTS</li>
                                            <li>FORMATIONS RECRUTEMENT</li>
                                            <li>FORMATIONS EMPLOIS, COMPÉTENCES ET CARRIÈRES</li>
                                            <li>FORMATIONS OUTILS DE PILOTAGE DE LA FONCTION RH</li>
                                            <li>FORMATIONS RH POUR MANAGERS</li>
                                            <li>FORMATIONS</li>
                                            
                                            
                                        </div>
                                  
                                </ul>
                            </div>
                        </div>      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}