{% extends '::base.html.twig' %}
{% block title %}Technicien superieur en support informatique {% endblock %}
{% block body %}


           
        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>Technique superieur en informatique</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Formation</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Technique superieur en informatique</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><img src="{{asset('img/illustration/formation-technicien-assistance-informatique.jpg')}}" alt=""><i class="fa fa-link"></i></figure>
                                    </li>
                                    <li class="col-md-8">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">TECHNICIEN SUPÉRIEUR EN SUPPORT INFORMATIQUE</a></h5>
                                             
                                            <p>Titre professionnel certifié de niveau III (BAC+2)</br>.

Enregistré au RNCP (Répertoire National des Certifications Professionnelles par arrêté du 08/02/2013 paru au Journal Officiel du 19/02/2013) et délivré par le Ministère chargé de l'Emploi.</br></p>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>      
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">PROGRAMME DE LA FORMATION </a></h5>
                                             
                                            <p>Le programme est modulaire, à la carte. Les modules seront préconisés parmi la liste ci-dessous suite à un entretien individuel.</br></p>
                                            <li>ANGLAIS DU WEB</li>
                                            <li>INSTALLER, DÉPLOYER, CONFIGURER ET METTRE À JOUR UN POSTE DE TRAVAIL INFORMATIQUE</li>
                                            <li>DÉPLOYER DES APPLICATIONS ET PERSONNALISER LES POSTES CLIENTS</li>
                                            <li>LINUX : SERVICES WEB</li>
                                            <li>INTERCONNEXION DE MATÉRIELS RÉSEAUX CISCO (ICND-1)</li>
                                            <li>LES RÉSEAUX : ARCHITECTURE, MISE EN ŒUVRE ET PERSPECTIVES</li>
                                            <li>INTERCONNEXION DE MATÉRIELS RÉSEAUX CISCO (ICND-2)</li>
                                            <li>APPORTER UN SUPPORT TECHNIQUE DANS UN CONTEXTE COMMERCIAL</li>
                                            <li>DROIT DE L'INFORMATIQUE : PRATIQUES JURIDIQUES DE L'ADMINISTRATEUR SYSTÈMES & RÉSEAUX</li>
                                            <li>DROIT DE L'INFORMATIQUE : ITIL® V3, LA SYNTHÈSE</li>
                                            <li>LE DÉVELOPPEMENT DURABLE ET LE GREEN IT</li>
                                            <li>LA SÉCURITÉ DU CLOUD COMPUTING</li>
                                            <li>VMWARE 5 : INSTALLER, CONFIGURER, ADMINISTRER</li>
                                            <li>WINDOWS 2012 : VIRTUALISATION AVEC HYPER-V</li>
                                            <li>CONFIGURATION DE MICROSOFT WINDOWS 8 : INSTALLER ET CONFIGURER DES CLIENTS WINDOWS 8</li>
                                            <li>INTRODUCTION À L'ADMINISTRATION WINDOWS</li>
                                            <li>PRÉVENTION DES RISQUES ÉLECTRIQUES</li>
                                            <li>TECHNOLOGIE DES ORDINATEURS & ARCHITECTURE MATÉRIELLE</li>
                                            <li>LES SYSTÈMES D'EXPLOITATION (WINDOWS, LINUX...)</li>
                                            <li>LES SYSTÈMES D'EXPLOITATION : MÉTHODOLOGIE DE DÉPANNAGE</li>
                                            <li>LE MÉTIER DE HOTLINER : ASSISTER LES UTILISATEURS</li>
                                            <li>HOTLINER : PROPOSER ET METTRE EN ŒUVRE DES SOLUTIONS</li>
                                            <li>PARE-FEU, ISA SERVER : PROXY ET FIREWALL, VPN</li>
                                            <li>ADSL & VOIX SUR RÉSEAU IP (VOIP)</li>
                                            <li>LES SCRIPTS & BATCHS</li>
                                            <li>INTERVENIR SUR UN SERVEUR DE CLIENTS LÉGERS</li>
                                            <li>INTERVENIR SUR UN SERVEUR DE BASES DE DONNÉES</li>
                                            <li>INTERVENIR SUR UNE ARCHITECTURE</li>
                                            
                                            
                                        </div>
                                  
                                </ul>
                            </div>
                        </div>      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}