{% extends '::base.html.twig' %}
{% block title %}Technique d'assistance en informatique{% endblock %}
{% block body %}


           
        <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-subheader-title"><h1>TECHNIQUE D'ASSISTANCE EN INFORMATIQUE</h1></div>
                        <ul class="education-breadcrumb">
                            <li><a href="index.html">Formation</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Technique d'assistance en informatique</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

<div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure><img src="{{asset('img/illustration/formation-technicien-assistance-informatique.jpg')}}" alt=""><i class="fa fa-link"></i></figure>
                                    </li>
                                    <li class="col-md-8">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">TECHNICIEN D'ASSISTANCE EN INFORMATIQUE</a></h5>
                                             
                                            <p>Titre professionnel certifié de niveau IV (BAC).</br>

Enregistré au RNCP (Répertoire National des Certifications Professionnelles par arrêté du 08/02/2013 paru au Journal Officiel du 19/02/2013) et délivré par le Ministère chargé de l'Emploi.</br></p>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>      
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                        <div class="education-event-grid-text">
                                            <h5><a href="event-detail.html">PROGRAMME DE LA FORMATION </a></h5>
                                             
                                            <p>Le programme est modulaire, à la carte. Les modules seront préconisés parmi la liste ci-dessous suite à un entretien individuel.</br></p>
                                            <li>ANGLAIS DU WEB</li>
                                            <li>ASSISTER LES UTILISATEURS DE BUREAUTIQUE</li>
                                            <li>PRÉPARER ET REMETTRE EN ÉTAT UN ÉQUIPEMENT INFORMATIQUE : ORDINATEUR, IMPRIMANTE, SCANNER ETC..</li>
                                            <li>INSTALLER, DÉPLOYER, CONFIGURER ET METTRE À JOUR UN POSTE DE TRAVAIL INFORMATIQUE</li>
                                            <li>DIAGNOSTIQUER ET RÉSOUDRE LE DYSFONCTIONNEMENT D'UN ÉQUIPEMENT INFORMATIQUE</li>
                                            <li>SÉCURISER UN ÉQUIPEMENT INFORMATIQUE ET SES DONNÉES</li>
                                            <li>ASSISTER LES UTILISATEURS D'INFORMATIQUE MOBILE</li>
                                            <li>APPORTER UN SUPPORT TECHNIQUE DANS UN CONTEXTE COMMERCIAL</li>
                                            <li>TRAITER UN INCIDENT DANS UN CENTRE DE SERVICES ET PARTICIPER AU SUIVI DU PARC</li>
                                            <li>INTERVENIR SUR UNE INFRASTRUCTURE RÉSEAU</li>
                                            <li>DÉPLOYER DES APPLICATIONS ET PERSONNALISER LES POSTES CLIENTS</li>
                                            <li>INSTALLER ET CONFIGURER UN SERVICE RÉSEAU</li>
                                            <li>INTERVENIR SUR UN ANNUAIRE RÉSEAU ET SON ENVIRONNEMENT</li>
                                            <li>METTRE EN ŒUVRE UN ACCÈS HAUT DÉBIT ET LA TÉLÉPHONIE SUR IP</li>
                                            <li>DIAGNOSTIQUER ET RÉSOUDRE UN DYSFONCTIONNEMENT D'ACCÈS À UN RÉSEAU</li>
                                            <li>ATELIER TRE : TECHNIQUES DE RECHERCHE D'EMPLOI</li>
                                            
                                        </div>
                                  
                                </ul>
                            </div>
                        </div>      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


 {% endblock %}