{% extends "::base.html.twig" %}

{% block title %}FormationBundle:GestionPersonne:AfficherPersonne{% endblock %}

{% block body %}
<h1>Welcome to the GestionPersonne:AfficherPersonne page</h1>
{% endblock %}
