{% extends "::base.html.twig" %}

{% block title %}FormationBundle:GestionPersonne:SupprimerPersonne{% endblock %}

{% block body %}
<h1>Welcome to the GestionPersonne:SupprimerPersonne page</h1>
{% endblock %}
